---
title: Hello
---

{% extends "_includes/default.njk" %}

{% block title %}Install CiteIt.net Wordpress plugin{% endblock %}

{% block head %}

  <link rel='stylesheet' id='organictabs-css'  href='/assets/css/organictabs.css' type='text/css' media='all' />
  <script type="text/javascript" src="/assets/js/OrganicTabs/js/organictabs.jquery.js"></script>

{% endblock %}


{% block content %}
{% include "_includes/nav.njk" %}

<div id="page_container">

    <main class="mt-4 max-w-7xl px-4 sm:px-6 ">
    <!--main class="mt-4 mx-auto max-w-7xl px-4 sm:px-6 "-->
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
          <h1>
            <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl">
              <span class="block font-header text-gray-900">Building trust in media</span>
            </span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            CiteIt is developing new <span class="text-blue-700 font-extrabold">digital tools</span> that help <span class="text-red-300 font-extrabold">combat misinformation</span> and <span class="text-red-300 font-extrabold">selective quotations</span>.
            These tools show the context surrounding the quoted media in order to build trust and understanding.
          </p>

        </div>
      </div>
    </main>  


<h2 class="mt-2 mb-10 ml-5 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Code:</h2>

<div id="page-tabs">
  <ul class="nav">
    <li class="nav-one"><a href="#wordpress" class="current">WordPress</a></li>
    <li class="nav-two"><a href="#developers">Developers</a></li>
  </ul>
  <div class="list-wrap">

    <!-- Web Authors -->    
  <div id="wordpress">

    <h3 class="mb-2" style="font-size: 1.8em; font-weight: bold;">Install WordPress plugin</h3>
    <p>The CiteIt Wordpress plugin is the <strong>easiest way to start</strong> experimenting with CiteIt <strong>on your website</strong>.<p>

    <!--div class="resp-container"-->
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/DHYF8eH5gr8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h4 class="mt-10 mb-2" style="font-size: 1.6em; font-weight: bold;">Installation</h4>

    <a href="/wordpress/plugins/CiteIt.net.zip" class="w-2/5 mb-3 flex items-center px-8 py-3 border border-transparent text-base font-medium text-white bg-green-500 hover:bg-blue-700 md:text-lg">
    Download WordPress plugin &nbsp;&nbsp; (alpha)</a>   
    <span class="highlight">&uarr; Download button</span> &nbsp;&nbsp;
    (<a style="white-space: nowrap; margin-top: 10px;" class="underline nonblock" target="_blank" href="https://pages.citeit.net/2020/08/08/how-to-install-and-use-the-citeit-net-wordpress-plugin/">How to Install the plugin</a>)

    <img style="float:right" alt="WordPress logo" src="https://pages.citeit.net/wp-content/uploads/2019/12/WordPress.svg_.png" />
    

    <!-- 
    <h3 class="mt-12 mb-3" style="font-size: 1.4em; font-weight: bold;">Alpha Status</h3>

    <p class="mb-4">The WordPress plugin is <strong>not yet</strong> part of the WordPress <strong><a href="https://wordpress.org/plugins/">Plugin directory</a></strong> because it has not yet been widely <strong>tested</strong>.</p>

    <p class="mb-4">I don't want to get a bunch of negative reviews for <strong>bugs</strong>.  After you've tried it out, <a class="underline nonblock" href="https://www.openpolitics.com/tim">send me an email</a> with <strong>feeback</strong>.</p>

    <p>Once I get enough positive feedback, I hope to add it to the plugin directory.</p>


<h3 class="mt-20 mb-3 text-green-700" style="font-size: 1.25em; font-weight: bold;">Version History</h3>



<h5>July 15, 2023: (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.11/CiteIt.net.zip">download: 0.4.11</a>)</h5>
<ul class="disc"><li>Correct sizing of YouTube video</li></ul>

<h5>Oct 4, 2020: (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.8/CiteIt.net.zip">download: 0.4.8</a>)</h5>
<ul class="disc"><li>add labels to Blockquote Context</li>
<li>add style formatting
<ul class="disc"><li>add background color to blockquote</li>
<li>indent context: indent,</li>
<li>add tooltip to label</li>
</ul></li>
<li>Edit Popup
<ul class="disc"><li>add &ldquo;source&rdquo; label &amp; url</li>
<li>change title</li>
</ul></li>
</ul>

<h5>Aug 17, 2020: (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.7/CiteIt.net.zip">download: 0.4.7</a>)</h5>
<ul><li>add permalink to blockquote and q tags to display context on non-canonical pages (the home page, etc)</li></ul>

<h5>July 30, 2020: (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.6/CiteIt.net.zip">download 0.4.6</a>)</h5>
<ul class="disc"><li>add &ldquo;Right and Left Quotation&rdquo; to Unicode Escape characters</li>
<li>change style: q-tag link: double underline, remove border from quote arrows</li>
</ul>

<h5>July 25, 2020: (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.5/CiteIt.net.zip">download 0.4.5</a>)</h5>
<ul class="disc"><li>update dependency: bump lodaash from 4.17.15 to 44.17.19 in /lib/link-to-text-fragment</li>
<li>format q-tag links and popup window</li>
<li>add error hardlinking to YouTube embed: url_parsed.params.start</li>
</ul>

<h5>July 6, 2020: (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.4/CiteIt.net.zip">download 0.4.4</a>)</h5>
<ul class="disc"><li>add Logic to Expand: YouTube Vimeo, and Soundcloud</li>
<li>fix Quote-Context Arrows: remove border</li>
</ul>

<h5>Jun 27, 2020: (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.3/CiteIt.net.zip">download 0.4.3</a>)</h5>
<ul class="disc"><li>change version to 3-part number</li>
<li>convert UTF-16 to UTF-8</li>
</ul>

<h5>June 22, 2020: (download 0.4.2)</h5>
<ul class="disc"><li>change webservice submission url: http://api.citeit.net/v0.4/url/</li>
<li>add forge-sha256 build</li>
<li>update jQuery version to 3.4.1</li>
<li>update forge-sha256</li>
</ul>

<h5>June 19, 2020: (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.1/CiteIt.net.zip">download 0.4.1</a>) (0.64)</h5>
<ul class="disc"><li>update jsVideoURLParser</li>
<li>preserve html in TinyMCE editor quote selection</li>
</ul>

<h5>June 18, 2020: (download 0.4.x) (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.63/CiteIt.net.zip">0.63</a>)</h5>
<ul class="disc"><li>format and document code</li>
</ul>

<h5>June 13, 2020: (download 0.4.x) (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.62/CiteIt.net.zip">0.62</a>)</h5>
<ul class="disc"><li>add function isWordpressPreview() to CiteIt-quote-context:<br>
&ndash; detect if current URL is in preview mode<br>
&ndash; remove querystring if in &ldquo;preview&rdquo; mode</li>
<li>rename existing function names: use camel case</li>
</ul>

<h5>Jan 29, 2020: (download 0.4.x) (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.61/CiteIt.net.zip">0.61</a>)</h5>
<ul class="disc"><li>switch toggle_quote to reference arrow anchor<br>
rather than parent div</li>
<li>switch toggle_quote to reference arrow anchor<br>
rather than parent div</li>

<li>CSS
<ul class="disc"><li>add &lt;a class=&lsquo;quote_arrows&rsquo; to support styling</li>
<li>change display to &ldquo;block&rdquo; to get rotate to work</li>
<li>remove link outline from arrows</li>
<li>add transform support for legacy browsers</li>
</ul></li>

<li>make contextual popup appear on top: z-index: 9999</li>
<li>rename neotext -&gt; citeit</li>
</ul>

<h5>Jan 25, 2020: (download 0.x.x) (<a class="underline nonblock" href="http://download.citeit.net/quote-context/wordpress-plugin/archive/0.5/CiteIt.net.zip">0.60</a>)</h5>
<ul class="disc"><li>quote-context.php: register style, remove text/css attrib from style sheets</li>
<li>enqueue style sheet</li>
<li>fix validation errors</li>
<li>add toggleClass(&ldquo;rotated180&rdquo;);</li>
</ul>

<h5>Jan 18, 2020:</h5>
<ul><li>Escape Text using Unicode Codepoints</li>
<li>switch endpoint to: http://api.citeit.net</li>
</ul>

<p class="mt-6">(<a class="underline nonblock" href="https://github.com/CiteIt/citeit-wordpress/commits/master">View More History</a>)</p>

-->

  </div>

  <!-- Developers -->
  <div id="developers" class="hide">
    <h3 class="mt-8 mb-4" style="font-size: 1.6em; font-weight: bold;">Developers</h3>

    <h4 class="mt-10 mb-2 text-blue-600" style="font-size: 1.5em; font-weight: bold;">Frontend Sample Code: Basic Html &amp; Javascript</h4>

    <p>See simple <strong><a class="underline nonblock" href="https://pages.citeit.net/sample-code/examples.html">sample code</a></strong> that marks up citations and calls the web service.</p>

    <p>If you want to <strong>use CiteIt.net with a CMS or other platform</strong>, this code should give you an idea of how to adapt your code.</p>
    
    <ul class="disc">
      <li>Html template: <a class="underline nonblock" href="https://pages.citeit.net/sample-code/examples.html">example citations</a></li>
      <li>Php template: <a class="underline nonblock" href="https://pages.citeit.net/sample-code/">submit a URL to the web service to be indexed</a></li>
      <li>Php template: call web service to <a class="underline nonblock" href="https://pages.citeit.net/sample-code/text-version.php">create a text version of page URL</a></li>
    </ul>

      <a href="https://github.com/CiteIt/citeit-sample-code" class="mt-6 w-1/3 mb-3 flex items-center px-8 py-3 border border-transparent text-base font-medium text-white bg-green-500 hover:bg-blue-700 md:text-lg">
      Get Sample Code on GitHub</a>


   
    <h6 class="mt-10 mb-2 text-blue-600" style="font-size: 1.5em; font-weight: bold;">Webservice Calls</h6>
    <ul class="disc">
      <li><a class="underline nonblock" href="https://pages.citeit.net/sample-code/">Submit a URL to be Indexed</a></li>
      <li><a class="underline nonblock" href="https://pages.citeit.net/sample-code/text-version.php">"Create Text Version" of HTML page &amp; YouTube transcripts</a></li>
    </ul>

  </div>

  </div> <!--list-wrap-->

</div><!--example-one-->

  <script>
    jQuery( document ).ready(function() {
      jQuery("#page-tabs").organicTabs();

    });
  </script>

</div>

{% include "_includes/footer.njk" %}



{% endblock %}
