
{% extends "_includes/default.njk" %}

{% block title %}About CiteIt - Building trust in media{% endblock %}

{% block head %}

  <link rel='stylesheet' id='organictabs-css'  href='/assets/css/organictabs.css' type='text/css' media='all' />
  <script type="text/javascript" src="/assets/js/OrganicTabs/js/organictabs.jquery.js"></script>
  <style>
    div#editor {
      float: left;
      width: 715px;
      padding-right: 60px;
    }

    div.instructions {

    }

    .submit:hover {
       background: #079868;
       cursor:pointer;
    }

    .submit:active {
      transform: scale(0.98);
      /* Scaling button to 0.98 to its original size */
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
      /* Lowering the shadow */
    }

  @media only screen and (max-width: 1300px) {

    div#editor {
      width: 715px;
    }
    div.instructions {
      width: 45%;
    }
  }
  </style>
{% endblock %}


{% block content %}
{% include "_includes/nav.njk" %}

<div id="page_container">

    <main class="mt-4 max-w-7xl px-4 sm:px-6 ">
    <!--main class="mt-4 mx-auto max-w-7xl px-4 sm:px-6 "-->
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
          <h1>
            <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl">
              <span class="block font-header text-gray-900">Building trust in media</span>
            </span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            CiteIt is developing new <span class="text-blue-600 font-extrabold">digital tools</span> that help <span class="text-red-300 font-extrabold">combat misinformation</span> and <span class="text-red-300 font-extrabold">selective quotations</span>.
            These tools show the context surrounding the quoted media in order to build trust and understanding.
          </p>

        </div>
      </div>
    </main>
  


<h2 class="mt-2 mb-10 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Try CiteIt:</h2>

<div id="page-tabs">
  <ul class="nav">
    <!--li class="nav-one"><a href="#live-editor">Try Live Editor</a></li-->
    <li class="nav-one"><a href="#wordpress" class="current">Try WordPress Plugin</a></li>
    <li class="nav-two last"><a href="#your-site">Add CiteIt to Your Site</a></li>
  </ul>
  <div id="tab_contents">
  <div class="list-wrap">

    <!-- Why CiteIt? -->    
    <div class="hide"><a id="live-editor"></a>
      <h3 class="mb-2" style="font-size: 1.8em; font-weight: bold;">Try Live Editor</h3>
    
      <div id="editor">
        <h3 class="text-blue-700 mt-4" style="font-size: 1.5em; font-weight: bold;">Editor:</h3>

          <!--Form: Demo Citations -->
        <form id="citation_demo_form" method="post" action="http://localhost/demo_post"> <!--action="http://api.citeit.net/demo_post/" -->
            <input type="hidden" id="post_url" name="post_url" value="https://pages.citeit.net/" />
            <input type="hidden" id="format" name="format" value="list" />

            <textarea id="post_body" name="post_body" rows="25" cols="40">
            </textarea><br />
            <input type="submit" class="submit mb-7" value="Save" />
        </form><br />
          <!--End Form -->

        <div id="result"></div>

      </div>

      <div class="instructions">
          <h3 class="text-blue-700" style="font-size: 1.5em; font-weight: bold;">Instructions:</h3>
          <ol class="num">
          <li><strong>Find</strong> a Quotation Online.  (Try: <a class="underline" href="https://news.google.com/">google news</a>)</li>
          <li><strong>Paste</strong> the quote's text into the editor.</li>
          <li>Get the <strong>URL</strong> for the quote.</li>
          <li><strong>Select</strong> the quote text in the editor.</li>
          <li>Click the <strong>CiteIt blockquote button</strong> to link the <strong>URL</strong> to the quote.</li>
          <li>When prompted, <strong>Paste the URL</strong> into the prompt box.
              <ul class="disc">
                <li>(If you click the "<strong>&lt;&gt;</strong>" button, you can inspect the html source)</li>
              </ul>
          </li>
          <li>Click the <strong><span class="green">"Save"</span></strong> button below:
          <ul class="disc">
          <li>(This will call the <strong>api.citeit.net</strong> webservice, ) 
          <li>Your newly <strong>contexified quote</strong> should appear <strong>below</strong> the <strong>"Save button"</strong>.</li>
          </ul>
          </li>
          </ol>
      </div>

        <!-- Leave space for instructions to float from right to left -->
        <br /><br /><br /><br /><br /><br /><br /><br />
    
    </div>
        
    <!-- WordPress -->
    <div id="wordpress">
      <h3 class="mt-8 mb-4" style="font-size: 1.6em; font-weight: bold;">Try WordPress Plugin</h3>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/8uiAfxV4My4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <a class="underline" href="https://pages.citeit.net/2020/08/10/how-to-use-the-demo-citeit-net-site/">Video Transcript</a><br />


    <h3 class="mt-12 mb-3 text-blue-600" style="font-size: 1.8em; font-weight: bold;">Login</h3>

    <p>Use the following <strong>login</strong> credentials to access the Demo site:</p>
    <strong>username</strong>: public<br />
    <strong>password</strong>: demo22<br /><br />

    <form action="https://demo.citeit.net/wp-login.php" method="POST">
        <input type="hidden" name="log" id="user_login" class="input" value="test" size="20" autocapitalize="off" />
			  <input type="hidden" name="pwd" id="user_pass" class="input password-input" value="CiteIt!" size="20" />
        <input class="submit mb-12" type="submit" value="Login to Demo WordPress Site" /> &nbsp;<span class="highlight">&larr; Login button</span>
    </form>

    
<h3 class="mt-12 mb-3 text-blue-600" style="font-size: 1.8em; font-weight: bold;">I) Video Transcript</h3>

Hello, this is Tim Langeman, creator of <a style="text-decoration: underline" href="https://www.citeit.net/">CiteIt.net</a>.
<h3 class="text-blue-600 mt-10 mb-6 text-xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-xl">PROBLEM</h3>
<ol>
 	<li>Today with accusations about <strong>Fake News</strong> circulating widely, many readers
suffer under a constant <strong>suspicion</strong> that any quotation they've read may have been <strong>taken out of context</strong>.</li>
 	<li>Other readers just want to know more about a quote's context to better <strong>understand its meaning</strong>.</li>
</ol>
<h3 class="text-blue-600 mt-10 mb-6 text-xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-xl">SOLUTION:</h3>
I've created the <a style="text-decoration: underline" href="https://www.citeit.net/">CiteIt.net App</a> to address both reader concerns by creating a tool to enable <strong>responsible authors</strong> to easily<strong> lookup</strong> and display the <strong>contexts</strong> of their quotes.

Here is an example of the first type of Contextual Citation: the expanding blockquote:
<ol>
 	<li>notice the <strong>context expands</strong> when the reader clicks on an up or down arrow</li>
 	<li>And here's the second type of contextual citation: the <strong>contextual popup</strong> which appears when the reader clicks on a quote.</li>
</ol>
<h3 class="text-blue-600 mt-10 mb-6 text-xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-xl">BENEFITS</h3>
Authors who use the CiteIt.net App, give their readers <strong>more reason to trust</strong> them and <strong>distinguish themselves</strong> from media competitors.
<h3 class="text-blue-600 mt-10 mb-6 text-xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-xl">DEMO</h3>
You can <strong>test-drive</strong> the CiteIt.net <a style="text-decoration: underline" href="https://www.citeit.net/code/">WordPress plugin</a> by visiting <a style="text-decoration: underline" href="https://demo.citeit.net/">demo.citeit.net</a>

This will send you to the demo site's <a style="text-decoration: underline" href="https://demo.citeit.net/wp-login.php">WordPress login page</a>.
<a style="text-decoration: underline" href="https://demo.citeit.net/wp-login.php"><strong>Log in</strong></a> with the default password and you will be taken to the WordPress dashboard.

To make a test post, click <strong>"New -&gt; Post"</strong>

Now, let's create <strong>2 new Contextual Citations</strong> from articles I found on Google News:
<h4>A) The first <a style="text-decoration: underline" href="https://www.bbc.com/news/uk-58128773">article has to with "bats"</a> and is found on the BBC.</h4>
<a title="View Quote of BBC Article: Bats" href="https://demo.citeit.net/2021/08/09/bat-killed-by-cat-after-record-1200-mile-journey/"><img class="wp-image-2176 thin-border size-large" src="https://demo.citeit.net/wp-content/uploads/2021/08/bat-wordpress-editor-1024x594.png" alt="WordPress Editor: Bat Article" width="1024" height="594" border="1" /></a>

To create the citation:
<ol>
 	<li>We find and <strong>highlight</strong> a quote.</li>
 	<li>We copy the quote to our clipboard and <strong>paste</strong> it into the WordPress post.</li>
 	<li>We <strong>copy</strong> and <strong>paste</strong> the <a style="text-decoration: underline" href="https://www.bbc.com/news/uk-58128773">BBC article's URL</a> to the clipboard</li>
 	<li>We click the <strong>CiteIt blockquote button</strong> that was added by the CiteIt WordPress plugin</li>
 	<li>We next <strong>paste the URL</strong> of the article into the prompt, and</li>
 	<li>Click "<strong>Publish</strong>"</li>
 	<li>Finally, we click the <strong>Permalink</strong> to <a style="text-decoration: underline" href="https://demo.citeit.net/2021/08/09/bat-killed-by-cat-after-record-1200-mile-journey/">view the published results</a></li>
</ol>
Because we clicked the "<strong>CiteIt blockquote" button</strong>, rather than the "CiteIt <strong>popup" button</strong>, our context displays by <strong>expanding the arrows</strong> above and below the quote.

&nbsp;
<h4>B) Now let's move on to a popup example featuring a <a style="text-decoration: underline" href="https://demo.citeit.net/2021/08/09/buffett-slows-buybacks-sells-stocks-with-market-at-highs/">quote about Warren Buffett</a> found on Yahoo Finance.</h4>
<a title="View Quote of Yahoo article: Warren Buffett" style="text-decoration: underline" href="https://demo.citeit.net/2021/08/09/buffett-slows-buybacks-sells-stocks-with-market-at-highs/"><img class="size-large thin-border wp-image-2177" src="https://demo.citeit.net/wp-content/uploads/2021/08/warren-buuffet-opportunities-1024x597.png" alt="" width="1024" height="597" border="1" /></a>

<br />I follow the very same process, <strong>copying the text and URL</strong>, but this time I select the "CiteIt <strong>popup button</strong>".

<br />After I click <strong>publish</strong>, I don't see any arrows.
<br />Instead, when I click on the text, I get the <strong>popup</strong>.

<br /><br />With CiteIt, It's about as <strong>easy to create Contextual Popups</strong> as to create links!

<br />From this video, you can see how easy it is to create contextual popups using the Cite.net WordPress plugin.

<br />This plugin is <strong>free</strong> and <strong><a style="text-decoration: underline" href="/code/">open source</a></strong>.

<br />It currently requires the old TinyMCE WordPress editor.
<br />Contact me if you are interested in helping add this functionality to the new Gutenberg editor.


<br /><br />

<!--h3>---- END: Video Transcript ----</h3-->



<h3 class="mt-12 mb-3 text-blue-600" style="font-size: 1.8em; font-weight: bold;">II) <a href="https://demo.citeit.net/2024/">Example Citations</a>
</h3>


<h3 class="mt-8 mb-4" style="font-size: 1.6em; font-weight: bold;">Part 1: Blockquotes</h3>

    <ol class="num"><li>The first step is to go to <a class="underline" href="https://demo.citeit.net/">demo.citeit.net</a> in your web browser.</li>
    <li>Next, <a href="https://demo.citeit.net/wp-login.php">Login</a> with the &ldquo;<strong>public</strong>&rdquo; user and the password found on the page.</li>
    <li>The next step is to click &ldquo;<strong>Posts</strong>&rdquo; &gt; <strong>Add New</strong>&ldquo;</li>
    <li>I&rsquo;ll give the post a title and write my article, leaving room for the quote<br>
    ( Time Elapses..)</li>
    <li>Now I&rsquo;ll locate my quote on the internet to find the full context. In this case, the transcript is found on <a class="underline" href="https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d">medium.org</a>.</li>
    <li>I&rsquo;ll copy the <strong>quote</strong> into my article</li>
    <li>I&rsquo;ll copy the <strong>source&rsquo;s URL</strong> to my clipboard</li>
    <li>In the editor, I <strong>highlight the quotation</strong> and</li>
    <li>Click on the CiteIt.net <strong>blockquote button</strong>, which the CiteIt.net WordPress plugin adds to the WordPress Editor as a custom button.</li>
    <li>Next, I <strong>Paste</strong> in my <strong>URL</strong></li>
    <li>And click &ldquo;<strong>publish</strong>&ldquo;</li>
    <li>To view the published post, I click on the post&rsquo;s URL or click &ldquo;Preview&rdquo;</li>
    </ol>
    
    <p>I can now click on the blue arrows above or below the quote to see more context.  (<a target="_blank" class="underline" href="/demo/#expanding-blockquote">See Example</a>)</p>
    
    <h3 class="mt-8 mb-4" style="font-size: 1.6em; font-weight: bold;">Part 2: Popup Quotes</h3>
    <p>I can achieve the second variant of citation by performing the same steps, but selecting a different button &mdash; inline popup &mdash; to create a shorter inline quote.</p>
    <ol class="num"><li>I click &ldquo;Add New&rdquo;</li>
    <li>I enter the quote title and post</li>
    <li>I copy the quote into the article</li>
    <li>I highlight the quotation</li>
    <li>I click on the other button: Inline popup.</li>
    <li>I paste in the source&rsquo;s URL</li>
    <li>I click publish.</li>
    <li>I can now view the resulting post by clicking on the URL or clicking Preview.</li>
    <li>If I click on the quote&rsquo;s link, the CiteIt.net contextual popup appears.</li>
    </ol>

    <p>(<a class="underline" href="/demo/#contextual-popup">See Example</a>)</p>
    <p>(NOTE: There still are some bugs.</p>
    <p>Please report bugs by tagging your demo post with the tag &ldquo;<strong>citeit-bugs</strong>&ldquo;)</p>


    <br />
    <h3 class="mt-12 mb-3 underline text-blue-600" style="font-size: 1.6em; font-weight: bold;"><a style="text-decoration: underline" href="/code/">Get WordPress Plugin</a></h3>
    


    </div>

    <!-- Add CiteIt to Your Site -->
    <div id="your-site" class="hide">
      <h3 class="mb-3" style="font-size: 1.6em; font-weight: bold;">How to Add CiteIt to Your Website:</h3>

      <h4 class="mt-8  mb-6 text-blue-600" style="font-size: 1.45em; font-weight: bold;">Developers</h4>
      
      <p>Most <strong>individuals</strong> seeking to add CiteIt to their site will use a plugin like the <a class="underline" href="/code/#wordpress">CiteIt WordPress plugin</a>.</p>

      <p>If you are a developer, you can learn how to  <strong>add CiteIt to your website</strong> by downloading the GitHub 
      <strong><a class="underline" href="https://github.com/CiteIt/citeit-sample-code">Sample Code</a></strong>.</p>

      <div class="instructions">
        <div class="video-container">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FevZN91uq4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        </div>
      <a class="underline" href="https://pages.citeit.net/sample-code/examples-video-outline.txt">View outline of video script</a>
      <br /><br />
      
      <h4 class="mt-15 mb-1 text-2xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-2xl">How to generate the citation context for this example:</h4>
      <div class="wp-block-image"><figure class="alignright size-large is-resized">
      <img class="feature" src="/assets/images/pride-and-prejudice.png" alt="Pride &amp; Prejudice" width="350"  /><br />
      <a class="underline" href="https://en.wikipedia.org/wiki/Pride_and_Prejudice">Jane Austen's Pride &amp; Prejudice</a>
      </figure></div>

      <ul>
        <li>Upload this file to a public website</li>
        <li>Submit this page's URL using the <a class="underline nonblock" href="https://pages.citeit.net/sample-code/">Submission Page</a></li>
        <li>This will generate <a class="underline nonblock" href="https://read.citeit.net/quote/sha256/0.4/41/4174a04d8a3fc6b30596b940f5264e9a0dfe22cced9070c9cb9c644a17a451da.json">JSON files</a> for each quote.</li>
        <li>You can view the <a class="underline nonblock" href="https://read.citeit.net/quote/sha256/0.4/41/4174a04d8a3fc6b30596b940f5264e9a0dfe22cced9070c9cb9c644a17a451da.json">JSON files</a> for this page in your <a class="underline nonblock" href="https://pages.citeit.net/wp-content/uploads/2020/10/CiteIt-Inspect-Chrome-Developer-mode.png">browser's developer mode</a>.</li>
      </ul>
      </div>


      <h2 class="text-blue-600 mt-10 mb-6 text-2xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-2xl">Examples:</h2>

      <h3 class="text-xl leading-8 font-extrabold font-header tracking-tight text-gray-700 sm:text-xl">1: Contextual Popups</h3>
      <p>CiteIt.net allows inline <b>popup quotations</b> use the <strong>&lt;q&gt; tag</strong>:</p>

      In Chapter 5 of Pride and Prejudice, Elizabeth confesses how Darcy offended her, saying:
      <q cite="https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5" 
        data-citeit-cited-audio-url="https://en.wikisource.org/wiki/File:Chapter_05_-_Pride_and_Prejudice_-_Jane_Austen.ogg" 
        data-citeit-cited-audio-start-time="234" data-citeit-cited-title="Pride and Prejudice" data-citeit-cited-author="Jane Austen" 	
        data-citeit-cited-author-wikipedia-url="https://en.wikipedia.org/wiki/Jane_Austen" 
        data-citeit-cited-work-wikipedia-url="https://en.wikipedia.org/wiki/Pride_and_Prejudice"
      >I could easily forgive his pride, if he had not mortified mine.</q>

      <h3 class="mt-10 text-xl leading-8 font-extrabold font-header tracking-tight text-gray-700 sm:text-xl">2: Expanding Blockquotes</h3>
      <div class="wp-block-image"><figure class="alignright size-large is-resized">
      <img class="feature" src="/assets/images/rabbi-david-wolpe.jpg" alt="Rabbi David Wolpe" /><br />
      <a id="rabbi-david-wolpe-caption" class="underline" href="https://en.wikipedia.org/wiki/David_Wolpe">Rabbi David Wolpe</a> 
      </figure></div>

      Here's a <strong>&lt;blockquote&gt;</strong> quote of a medium.com article, <a href="https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d">Tyler Cowen commented to David Wolpe</a> about how social media strips away context:
      
      <blockquote cite="https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d" 
        data-citeit-cited-audio-url="https://soundcloud.com/conversationswithtyler/rabbi-david-wolpe-on-leadership-religion" 
        data-citeit-cited-video-url="https://youtu.be/DH0VqlPnzpE?t=1672" 	
        data-citeit-transcript-url="https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d" 
        data-citeit-cited-audio-start-time="1672" 
        data-citeit-cited-title="Rabbi David Wolpe on Leadership, Religion, and Identity (Ep. 19 — Live at Sixth &amp; I)" 
        data-citeit-cited-series="Conversations with Tyler" 
        data-citeit-cited-series-url="https://conversationswithtyler.com" 
        data-citeit-cited-series-youtube="https://www.youtube.com/playlist?list=PLS8aEHTqDvpInY9kslUOOK8Qj_-B91o_W" 
        data-citeit-cited-authors_names="David Wolpe, Tyler Cowen" 
        data-citeit-cited-authors_twitter="@RabbiWolpe, @tylercowen" 
        data-citeit-cited-authors-wikipedia-urls="https://en.wikipedia.org/wiki/David_Wolpe, https://en.wikipedia.org/wiki/Tyler_Cowen">I think that Judaism has the same problem that any <b>thick civilization</b> has in a world in which, as you say, <b>context is stripped away</b>. And not only is context stripped away, but attention to any one thing is canter and less than it used to be. So, for example, a lot of Jewish commentary is based on your recognizing the reference that I make. <b>Who recognizes references anymore?</b> Because people don’t spend years studying books.</blockquote>

      <p>You can mark up the quote with <b>html tags</b> such as &lt;ul&gt;, &lt;li&gt;, &lt;b&gt; or any other <b>tag that will not change the text version</b> of the quote when the hmtl is converted to text.</p>
      <br />

      <h4 class="mt-12 mb-15 text-2xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-2xl">Download Sample Code from GitHub:</h4>
      <a href="https://github.com/CiteIt/citeit-sample-code" class="mt-3 w-1/2 mb-12 flex items-center px-8 py-3 border border-transparent text-base font-medium text-white bg-green-500 hover:bg-blue-700 md:text-lg">
        Get Sample Code on GitHub</a>


      <h3 class="mt-2 mb-3 text-2xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-2xl">View Html</h3>
      <a class="underline" href="https://pages.citeit.net/sample-code/examples.html">View online html</a>
      <br /><br /><br /><br />
      <h3 class="mt-2 mb-3 text-2xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-2xl">More Examples</h3>
      <ul>
      <li><a class="underline nonblock text-xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-xl" href="https://pages.citeit.net/sample-code/examples-advanced.html">View Advanced Examples</a>: 
        <ul class="disc">
          <li>Citing YouTube <strong>Videos</strong>,</li>
          <li> adding <strong>formating</strong> to quotes: bold, italics, lists,</li>
          <li>adding source <strong>meta-data</strong></li>
        </ul>
      </li>
      </ul>

  <br /><br /><br /><br />

  </div> <!--list-wrap-->

  </div> <!--tab_contents-->

</div><!--page-tabs-->

</div><!--example-one-->


<script>
    jQuery( document ).ready(function() {
      jQuery("#page-tabs").organicTabs();

    });

    /*  Convert TextArea into TinyMce Editor */
    if (typeof tinymce !== 'undefined') tinymce.init({
      selector: '#post_body',
      height: 200,
      toolbar: 'formatselect | bold italic | alignleft aligncenter alignright | bullist numlist | citeit_blockquote | citeit_inline_popup | code',
      plugins: [
        'autolink lists link image anchor textcolor',
        'code fullscreen',
        'media table paste code'
      ],
      menubar: false,
      mobile: { 
        theme: 'mobile' 
      },
      content_css: [
        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i'
      ],
      
      setup: function (editor) {

        editor.addButton('citeit_blockquote', {
          text: 'CiteIt blockquote',
          /* image: '/assets/images/CiteIt-logo-blockquote.png', */
          icon: false,
          onclick: function() {
                    editor.windowManager.open( {
                        title: 'Insert blockquote link',
                        tooltip: 'Add CiteIt blockquote',

                        body: [{
                            type: 'textbox',
                            name: 'cite',
                            label: 'Quote Source Link'
                        }],
                        onsubmit: function( e ) {
                            editor.insertContent( '<blockquote cite="' + e.data.cite + '">' + editor.selection.getContent({format : 'html'}) + '</blockquote>');
                        }
                    });
          }
        });

        editor.addButton('citeit_inline_popup', {
          text: 'CiteIt inline popup',
                /* image: 'https://pages.citeit.net/wp-content/plugins/CiteIt.net/img/citeit-logo-c-90.png', */
          icon: false,
          onclick: function() {
                    editor.windowManager.open( {
                        title: 'Insert inline popup',
                        tooltip: 'Add CiteIt inline popup',
                        body: [{
                            type: 'textbox',
                            name: 'cite',
                            label: 'Quote Source Link'
                        }],
                        onsubmit: function( e ) {
                            editor.insertContent( '<q cite="' + e.data.cite + '">' + editor.selection.getContent({format : 'html'}) + '</q>');
                        }
                    });
          }
        });
      }
    });



    /* attach a submit handler to the form */
    $("#citation_demo_form").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var $form = $(this),
            post_url = $form.find('input[name="post_url"]').val(),
            post_body = $form.find('input[name="post_body"]').val(),
            url = $form.attr('action');

        /* Send the data using post */
        var posting = $.post(url, {
            s: term
        });

        /* Put the results in a div */
        posting.done(function(data) {
            var content = $(data).find('#content');
            $("#result").empty().append(content);
        });
    });

</script>

</div>

{% include "_includes/footer.njk" %}

{% endblock %}

