<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}CiteIt - Building trust in media{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"  />

    <script src="/assets/js/citeit-main.js"></script>
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <script src="/js/alpine.js?v={% version %}"></script>



<!-- ############################### Begin: CiteIt Dependencies ##################################
      - jQuery: manipulate Dom: 
      - query api.CiteIt.net
      - download JSON to hidden citeit_container div
      - add arrows and popup links to q tags and blockquotes

  ------ 1) jQuery -->
  <script src="/assets/js/lib/jquery-1.12.4.min.js"></script>

  <!-- 2) jQuery Migrate: Used to migrate jQuery: https://github.com/jquery/jquery-migrate -->
  <script src="/assets/js/lib/jquery-migrate-1.4.1.min.js"></script>

  <!-- 3) Generate q-tag Popup -->
  <script src="/assets/wordpress/plugins/CiteIt.net/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>

  <!-- 4) Calculate JSON Hash values using sha256 library -->
  <script src='/assets/wordpress/plugins/CiteIt.net/lib/forge-sha256/build/forge-sha256.min.js' defer></script>

  <!-- 5) jsVideoUrlParser: Detect Domain: Determine if an Embed code can be use: YouTube, Vimeo, Soundcloud -->
  <script src='/assets/wordpress/plugins/CiteIt.net/lib/jsVideoUrlParser/dist/jsVideoUrlParser.min.js' defer></script>

  <!--CSS Styles: CiteIt & JQuery Popup Window -->
  <link rel='stylesheet' href='/assets/wordpress/plugins/CiteIt.net/lib/jquery-ui-1.12.1/jquery-ui.min.css' type='text/css' media='all' />
  <link rel='stylesheet' href='/assets/wordpress/plugins/CiteIt.net/css/quote-context-style.css' type='text/css' media='all' />

  <link rel='stylesheet' href='/assets/css/citeit-wikipedia.css' type='text/css' media='all' />

  <!-- 6) Main CiteIt Javascript Code: Download JSON & Create Popup windows and Expanding Arrows  -->
  <!--<script src='https://pages.citeit.net/wp-content/plugins/CiteIt.net/js/versions/0.4/CiteIt-quote-context.js'></script>-->

  <!-- ############################### End: CiteIt.net Dependencies #######################################-->

  <!-- Bigfoot footnotes: http://www.bigfootjs.com/ -->
  <script src="/assets/js/bigfoot/dist/bigfoot.min.js" defer></script>
  <link rel="stylesheet" href="/assets/js/bigfoot/dist/bigfoot-default.css" />

  <!-- Lazy Load Images -->
  <script src="/assets/js/lazysizes.min.js" async=""></script>

  <!-- hide Tiny MCE -->
  <!--script src="https://cdn.tiny.cloud/1/scnw5ns1yumqe042c4r7c55bwser40g3f4k1h15lq07aqpmq/tinymce/4/tinymce.min.js" referrerpolicy="origin"></script-->

  {% block head %}{% endblock %}

  </head>
  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

  </body>
</html>