<div id="nav_footer" class="nav">
  <ul id="footer">
    <li><a href="/">Home</a></li>  
    <li><a href="/demo/">Demos</a></li>
    <li><a href="/try">Try CiteIt!</a></li>
    <li><a href="https://pages.citeit.net/  ">Blog</a></li>
    <li><a href="/code/">Code</a></li>  
    <li><a href="/about/?tab=faq">FAQ</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
</div>

<div id='citeit_container'><!-- CiteIt-quote-context.js injects data returned from lookup in this hidden div --></div>

<script>

  // Default Base URL to current URL (www.citeit.net or localhost:8080 )
  citing_url = document.getElementById('citing_url');
  if(citing_url != null){
    document.getElementById('citing_url').value = window.location.href;
  }
  
  // Call CiteIt.net plugin on all q-tags and blockquotes:
  jQuery(document).ready(function(){

      jQuery('q, blockquote').quoteContext();

      // Highlight YouTube Expansion
      setTimeout(function(){
        jQuery("span.view_on_youtube").addClass("highlight");
      }, 1000);

  });


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D3XYRZGC3T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D3XYRZGC3T');
  </script>


</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-8064103-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-8064103-1');
</script>
