    <main class="mt-4 mx-auto max-w-7xl px-4 sm:px-6 ">
        
      <div class="top_pic_slogan  lg:grid lg:grid-cols-12 lg:gap-8">

        <div id="building-trust" class="md:mx-left lg:col-span-12 lg:text-left">
          <h1>
            <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl">
              <span class="block font-header text-gray-900">Building trust in media</span>
            </span>
          </h1>
          <p id="citeit-description" class="mt-3 mb-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            CiteIt is developing new <span class="text-blue-600 font-extrabold">digital tools</span> that help <span class="text-red-300 font-extrabold">combat misinformation</span> and <span class="text-red-300 font-extrabold">selective quotations</span>.
            These tools show the context surrounding the quoted media in order to build trust and understanding.
          </p>

            <div class="video-caption sm:justify-center sm:w-full md:w-2/3 lg:w-1/2" >(Watch our video to learn more)</div>
        </div>
      

      </div>
        
        <div id="video" class="video_thumbnail video_width sm:w-full mt-0 mb-5 relative md:w-2/3  lg:mt-0 lg:w-1/2 lg:max-w-none lg:mx-0 lg:col-span-12 lg:flex">
            <button type="button" class="relative block w-full bg-white overflow-hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              
              <!--iframe id="iframe_video" class="iframe_video" src="https://www.youtube.com/embed/8r42TmdqSqk"></iframe-->

              <a href="https://youtu.be/8r42TmdqSqk"  target="iframe_video" title="There is a Cherry-Picked Quote on the Jefferson Memorial, Washington, DC">
                <picture>
                    <source srcset="/assets/images/jefferson-memorial-statue-panorama-1-854x480.webp" type="image/webp">
                    <source srcset="/assets/images/jefferson-memorial-statue-panorama-1-854x480.jpg" type="image/jpeg">
                    <img src="/assets/images/jefferson-memorial-statue-panorama-1-854x480.jpg" alt="Jefferson Memorial Statue Panoroma, Washington, DC" width="854" height="480">
                </picture>
              </a>
              <div id="jefferson_video_caption" class="video_width sm:w-full md:w-2/3 lg:w-1/2">
                  <span class="text-base text-gray-500">Did you know there is a Cherry-picked quote on the Jefferson Memorial? &nbsp;&nbsp;  
                  <!--span style="white-space: nowrap;">Readers can <strong class="text-blue-600">trust citations</strong> made with CiteIt.</span></span-->
              </div>
              
                <div class="absolute video_width inset-0 flex items-center justify-center" aria-hidden="true">
                <svg id="play_button" class="h-20 w-20 text-blue-500" fill="currentColor" viewBox="0 0 84 84">
                  <circle opacity="0.9" cx="42" cy="42" r="42" fill="white" />
                  <path d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z" />
                </svg>
              </div>
            </button>
          
        </div>


        <section class="bg-white overflow-hidden">
          <div class="relative max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8 lg:mt-16">
            <div id="callout-quote-1" class="mt-10 sm:w-full lg:w-2/3 p-4 border bg-yellow-200 lg:absolute lg:left-24 lg:-top-20 animate-pulse"
                >
                Click on text in blue box below to see the quote in context.
            </div>

            <div class="relative lg:flex lg:items-center">
                <div class="relative mt-16 lg:ml-10 lg:order-2">
                    <svg class="absolute top-0 left-0 transform -translate-x-4 -translate-y-8 h-12 w-12 text-blue-200 opacity-100" style="stroke: currentColor; fill: none;" viewBox="0 0 144 144" aria-hidden="true">
                        <path stroke-width="4" d="M41.485 15C17.753 31.753 1 59.208 1 89.455c0 24.664 14.891 39.09 32.109 39.09 16.287 0 28.386-13.03 28.386-28.387 0-15.356-10.703-26.524-24.663-26.524-2.792 0-6.515.465-7.446.93 2.327-15.821 17.218-34.435 32.11-43.742L41.485 15zm80.04 0c-23.268 16.753-40.02 44.208-40.02 74.455 0 24.664 14.891 39.09 32.109 39.09 15.822 0 28.386-13.03 28.386-28.387 0-15.356-11.168-26.524-25.129-26.524-2.792 0-6.049.465-6.98.93 2.327-15.821 16.753-34.435 31.644-43.742L121.525 15z" />
                    </svg>
                    
                    <div class="text-lg leading-9 font-medium text-gray-900 lg:text-xl">
                        <div id="nothing_is-more_certainly">
                            <p class="bg-blue-300 p-4 border bg-opacity-60 cursor-pointer hover:bg-blue-300 lg:p-8 shadow">
                                <q cite="https://avalon.law.yale.edu/19th_century/jeffauto.asp">Nothing is more certainly written in the book of fate than that these people are to be free.</q>
                            </p>
                        </div>
                    </div>

                    <footer class="mt-8">
                        <div class="flex">
                            <div class="ml-10 lg:ml-10">
                                <div class="text-base font-semibold text-gray-900">Thomas Jefferson, &nbsp; <a class="underline" href="https://avalon.law.yale.edu/19th_century/jeffauto.asp#:~:text=Nothing%20is%20more%20certainly%20written%20in%20the%20book%20of%20fate%20than%20that%20these%20people%20are%20to%20be%20free.">Autobiography</a>  </div>
                                <div class="text-base font-medium text-gray-900">Founding Father of USA &nbsp; <b>Learn More</b>: <a target="_blank" class="underline" href="https://www.citeit.net/2018/01/06/cherry-picked-quotations-on-the-jefferson-memorial/">In Defense of Jefferson</a> </div>
                            </div>
                        </div>
                    </footer>

                </div>
              </div>
          </div>  
        </section>
      

    <h3 id="test-drive" class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Test-drive CiteIt!</h3>
    <p class="mt-2 mb-1"><strong>Create your own sample citation</strong> by entering a quote and it's URL below:<br />
    <p>(If you need ideas, you can <span class="highlight"><strong>use 
    
    <a class="underline" target="_blank" href="https://news.google.com/">Google News</a></strong> or 
    <strong><a class="underline" href="https://youtu.be/1NqRbBvujHY?t=398">YouTube</a></strong> 
    <sup id="fnref:1"><a href="#fn:1" rel="footnote">1</a></sup>

    <strong>as a source</strong> for sample quotes</span>).</p>


    <p class="mt-6"><strong>Create your own</strong>, or click one of the <strong>4 buttons</strong> to pre-populate the <strong>quote</strong> and <strong>URL</strong> below:</p>
      <a class="circle" href="javascript: prepopulate_quote('https://www.nytimes.com/2021/02/07/sports/football/tom-brady-super-bowl-age.html');" title="Tom Brady: Drink Water">1</a>
      <!-- a class="circle" href="javascript: prepopulate_quote('https://www.theatlantic.com/magazine/archive/2020/01/wheres-my-flying-car/603025/');" title="The Atlantic: Where's my flying car?">2</a-->
      <a class="circle" href="javascript: prepopulate_quote('https://en.wikisource.org/wiki/Leviathan/The_First_Part');" title="Thomas Hobbes: Nasty Butish and Short">2</a>
      <a class="circle" href="javascript: prepopulate_quote('https://www.nytimes.com/2020/04/10/opinion/coronavirus-texas-fracking-layoffs.html');" title="NYTimes: oil fracking has never been financially viable">3</a>
      
      <a class="circle" href="javascript: prepopulate_quote('https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_59');" title="We all know him to be a proud, unpleasant sort of man; but this would be nothing if you really liked him.">3</a>
      
      <!--a class="circle" href="javascript: prepopulate_quote('https://onbeing.org/programs/david-whyte-the-conversational-nature-of-reality/#transcript');" title="Poetry: languages against which you have no defences.">4</a-->
      <!--a class="circle" href="javascript: prepopulate_quote('https://www.openpolitics.com/articles/ted-nelson-philosophy-of-hypertext.html');" title="Ted Nelson: Philosophy of Hypertextr">5</a-->
      <!--a class="circle" href="javascript: prepopulate_quote('https://www.ourdocuments.gov/doc.php?flash=false&doc=90&page=transcript');" title="Eisenhower: Military Industrial Complex">6</a-->
      <a class="circle" href="javascript: prepopulate_quote('https://youtu.be/xPsfgEk00kU?t=1216');" title="Malcolm Gladwell: The importance of Legitimacy">4</a>
      <!--a class="circle" href="javascript: prepopulate_quote('https://youtu.be/zrzMhU_4m-g?t=64');" title="Monty Python: What makes you think she is a Witch?">8</a-->
      <!--a class="circle" href="javascript: prepopulate_quote('https://youtu.be/rMz7JBRbmNo?t=173');" title="Princess Bride: never get involved in a land war in Asia">9</a-->


    <!--http://localhost/post_quote-->
    <form id="test-submission" class="test-submission" method="GET" action="">

        <h4>Quote:</h4>
        <input type="hidden" id="citing_url" name="citing_url" value="" />

        <textarea id="citing_quote" name="citing_quote" rows="4" cols="65"
          onclick="document.getElementById('citing_quote').value = '';"
        >Drink at least one-half of your body weight in ounces of water daily</textarea>

        <h4>URL:</h4>
        <input id="cited_url" name="cited_url" class="url" type="text" onclick="this.value=''" value="https://www.nytimes.com/2021/02/07/sports/football/tom-brady-super-bowl-age.html"
          />&nbsp; (<a class="underline" href="javascript: view_link();">link</a>)<br />
              
        <input id="submit_test_citation" class="w-1/2 mt-4 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium text-white bg-blue-600 hover:bg-blue-700 md:text-lg" size="25" type="submit" 
          onclick="process_test_citation(); return false;" value="Create Test Citation" />

        <div id="loading">
          <div id="circle6"></div>
          <div id="submission-progress">
            <ul id="progress_list"></ul>          
          </div>
        </div><br />
      
      <div id="submission-results" class="hidden">

        <h4 style="font-size: 1.8em; font-weight: bold;">Submission Results</h4>
        <p class="mb-4"><span class="highlight">Click the <strong>quote in the blue box</strong> below</span> to <strong>view the contextual popup</strong>:</p>
        <div id="sample-quote-container">
              <q id='sample-quote' cite=""></q>
        </div>

        <div id="switch_view_type">
          <h4 style="font-size: 1.2em">Switch View Type</h4>
          <input onclick="swap_citation_type('sample-quote', 'q');" type="radio" id="popup" name="citation_type" value="popup" checked>
          <label for="popup">Contextual Popup</label><br>
          <input onclick="swap_citation_type('sample-quote', 'blockquote');" type="radio" id="expand" name="citation_type" value="expand">
          <label for="expand">Expanding blockquote</label><br>
        </div>

        <a id="reset_test_citation" class='reset_button' href='javascript:reset_example_citation();'>Reset Example Citation</a>

      </div>

    </form>

<a name="wikipedia"></a>

<h3 class="mt-20 mb-3 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Sample Wikipedia Articles</h3>
<p>Click on an image below to view <strong>sample Wikipedia articles</strong> that feature contextual quotations.</p>
<br />
<div class="feature">
  <a href="https://demo-sites.citeit.net/en.wikipedia.org/wiki/Inauguration_of_John_F._Kennedy" target="_blank">
  <picture>
      <source srcset="/assets/images/john-f-kennedy-cropped.webp" type="image/webp">
      <source srcset="/assets/images/john-f-kennedy-cropped.png" type="image/png">
      <img src="/assets/images/john-f-kennedy-cropped.png" class="wiki-photo lazyload" alt="John F. Kennedy Portrait" height="225" width="173" />
  </picture></a>
  <a class="underline" href="https://demo-sites.citeit.net/en.wikipedia.org/wiki/Inauguration_of_John_F._Kennedy" target="_blank">John F. Kennedy</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg" target="_blank">
  <picture>
      <source srcset="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.webp" type="image/webp">
      <source srcset="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.jpg" type="image/jpeg">
      <img src="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.jpg" class="wiki-photo lazyload" alt="Ruth Bader Ginsburg Portrait" height="225" width="180" />
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg" target="_blank">Ruth Bader Ginsburg</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hillary_Clinton" target="_blank">
  <picture>
      <source srcset="/assets/images/hillary-clinton.webp" type="image/webp">
      <source srcset="/assets/images/hillary-clinton.jpg" type="image/jpeg">
      <img src="/assets/images/hillary-clinton.jpg" class="wiki-photo lazyload" alt="Hillary Clinton photo by Gage Skidmore" height="225" width="169">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hillary_Clinton" target="_blank">Hillary Clinton</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Donald_Trump" target="_blank">
  <picture>
      <source srcset="/assets/images/Donald_Trump_official_portrait.webp" type="image/webp">
      <source srcset="/assets/images/Donald_Trump_official_portrait.jpg" type="image/jpeg">
      <img src="/assets/images/Donald_Trump_official_portrait.jpg" class="wiki-photo lazyload" alt="Donald Trump official portrait" height="225" width="178">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Donald_Trump" target="_blank">Donald Trump</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hamlet" target="_blank">
  <picture>
      <source srcset="/assets/images/Edwin_Booth_Hamlet_1870.webp" type="image/webp">
      <source srcset="/assets/images/Edwin_Booth_Hamlet_1870.jpg" type="image/jpeg">
      <img src="/assets/images/Edwin_Booth_Hamlet_1870.jpg" alt="Wikipedia: Article Popup" width="174" height="225" class="lazyload">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hamlet" target="_blank">Hamlet</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Pride_and_Prejudice" target="_blank">
  <picture>
      <source srcset="/assets/images/pride-and-prejudice.webp" type="image/webp">
      <source srcset="/assets/images/pride-and-prejudice.png" type="image/png">
      <img src="/assets/images/pride-and-prejudice.png" class="wiki-photo lazyload" alt="Pride and Prejudice" height="225" width="343">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Pride_and_Prejudice" target="_blank">Pride and Prejudice</a>
</div>


<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Manned_Orbiting_Laboratory" target="_blank">
  <picture>
      <source srcset="/assets/images/480px-MOL_USAF.webp" type="image/webp">
      <source srcset="/assets/images/480px-MOL_USAF.png" type="image/png">
      <img src="/assets/images/480px-MOL_USAF.png" alt="Manned Orbital Laboratory" height="225" width="283" class="lazyload">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Manned_Orbiting_Laboratory" target="_blank">Manned Orbital Laboratory</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Syphilis" target="_blank">
  <picture>
      <source srcset="/assets/images/Syphilis.webp" type="image/webp">
      <source srcset="/assets/images/Syphilis.jpg" type="image/jpeg">
      <img src="/assets/images/Syphilis.jpg" class="wiki-photo lazyload" alt="Syphilis"  height="225" width="239">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Syphilis" target="_blank">Syphilis</a>
</div>

<br style="clear:both" />
<p class="mt-7"><strong><a class="underline highlight" href="https://www.citeit.net/2020/11/02/open-source-project-seeks-machine-learning-expertise-for-new-wikipedia-citation-feature/">Machine Learning Volunteer Wanted</a></strong> to help convert existing Wikipedia footnotes to contextual citations.</p>



    <div class="learn_more">
      <h3 id="learn_more" class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Learn More</h3>
      <ul class="disc">
        <li><a class="underline" href="/demo/">More Demos</li>
        <li><a class="underline" href="/try/">CiteIt WordPress Plugin</a></li>
      </ul>
    </div>




    </main>
  <!--/div-->
  <!--/div-->

<!--/div-->

