<div class="layout_note"><h3>How should contextual citations be styled?</h3> 
<p>I'm interested in hearing opinions from readers and writers on how the contextual citations should be styled and positioned.</p>
<p>One idea would be to <strong>show the context in a right sidebar</strong>.</p>
<p>I think the <span class="red"><strong>red youtube icons</strong> </span> may be too flashy, <img src="https://pages.citeit.net/wp-content/plugins/CiteIt.net/img/youtube_logo_mini.png" alt="youtube icon" /> 
but at this phase I'm looking to attract attention to the links and I want to make sure readers don't miss them.<br />
<ul><li><strong>What do you think the styling and position should be?</strong></li></ul>
</p></div>
