<div class="mt-6 mx-auto max-w-7xl px-4 sm:px-6 ">
    <div class="lg:text-center">
      <h2 style="width: 95%; text-align:center;" class="text-base text-blue-600 font-semibold tracking-wide uppercase">Demos</h2>
      <p style="width: 95%; text-align:center;" class="mt-2 mx-auto text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">
        Using CiteIt with different Media Types
      </p>
      <p style="width: 95%; text-align:center;" class="mt-4 mb-12 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        CiteIt is developing tools that allow you to add context to your media, whether it is written word, audio, video, wikipedia, or twitter.
      </p>
    </div>

<div>
  <div class="">
    <div class="border-b border-gray-200">
      <nav id="media_types" class="-mb-px flex space-x-12" aria-label="Tabs">
        <a href="#writing"
            class="border-blue-500 text-blue-600 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-lg" aria-current="page">
            <svg class="text-blue-600 group-hover:text-blue-600 -ml-0.25 mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <strong><span>Writing</span></strong>
        </a>

        <a href="#wikipedia" class="border-transparent text-gray-900 hover:text-gray-700 hover:border-gray-900 group inline-flex items-center py-0 px-0 border-b-0 font-medium text-md">
          <picture>
              <source srcset="/assets/images/Wikipedia-logo-v2-40.webp" type="image/webp">
              <source srcset="/assets/images/Wikipedia-logo-v2-40.png" type="image/png">
              <img src="/assets/images/Wikipedia-logo-v2-40.png" alt="Wikipedia logo" width="40" height="37" class="lazyload" />
          </picture>&nbsp;
          <strong><span>Wikipedia</span></strong>
        </a>

        <a href="#substack" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-900 group inline-flex items-center py-0 px-0 border-b-2 font-medium text-md">
            <img src="/assets/images/substack.png" alt="Substack" height="35" width="38" class="lazyload" />
            &nbsp;&nbsp;<strong><span>Substack</span></strong>
        </a>
		
        <a href="#youtube" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-900 group inline-flex items-center py-0 px-0 border-b-0 font-medium text-md">
        <picture>
            <source srcset="/assets/images/yt_logo_rgb_light.webp" type="image/webp">
            <source srcset="/assets/images/yt_logo_rgb_light.png" type="image/png">
            <img src="/assets/images/yt_logo_rgb_light.png" alt="YouTube Video" width="89" height="20" class="lazyload" />
        </picture></a>

        <a href="#twitter" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-900 group inline-flex items-center py-0 px-0 border-b-2 font-medium text-md">
          <picture>
              <source srcset="/assets/images/Twitter-Logo-blue-small-40.webp" type="image/webp">
              <source srcset="/assets/images/Twitter-Logo-blue-small-40.png" type="image/png">
              <img src="/assets/images/Twitter-Logo-blue-small-40.png" alt="Twitter logo" width="40" height="33" class="lazyload" />
          </picture>
        <strong><span>Twitter</span></strong>
        </a>

      </nav>
    </div>
  </div>
</div>

<div class="panel-intro">


<a id="writing"></a>
<h3 style="font-size: 1.6em; font-weight: bold;">1. Writing</h3><a name="expanding-blockquote"></a>
<br />

<h4 style="font-size: 1.3em; font-weight: bold;" class='text-green-bright' >A) Expanding blockquote:  <a class="anchor" href="#expanding-blockquote">#</a></h4>

<h5 style="font-size:1.1em; font-weight: bold;" class='purple-grey'>When to Use:</h5>
<p>Use Contextual blockquotes when:</p>
<ul class="disc">  
  <li><b><u>Larger blocks</u></b> of text are desired.</li>
  <li>The block forms its <b><u>own paragraph/s</u></b>.</li>
  <li><b><u>Emphasis</u></b> is desired through a <b><u>breakout</u></b> block quote</b>.</li>
</ul><br />

<p><strong class="highlight">Click on the blue arrows</strong> above and below the quote to <strong>expand the context</strong>:</p><br /><br />

<div class="wp-block-image"><figure class="alignright size-large is-resized">
<picture>
    <source srcset="/assets/images/rabbi-david-wolpe.webp" type="image/webp">
    <source srcset="/assets/images/rabbi-david-wolpe.jpg" type="image/jpeg">
    <img src="/assets/images/rabbi-david-wolpe.jpg" alt="Rabbi David Wolpe" width="230" height="239" class="lazyload" />
</picture>
<a id="rabbi-david-wolpe-caption" class="underline" href="https://en.wikipedia.org/wiki/David_Wolpe">Rabbi David Wolpe</a> 
</figure></div>

<p id="rabbi-david-wolpe-intro"><a class="underline mb-12" href="https://en.wikipedia.org/wiki/Tyler_Cowen">Tyler Cowen</a> interviewed <a class="underline" 
href="https://en.wikipedia.org/wiki/David_Wolpe">Rabbi David Wolpe</a> as part of his <a class="underline" 
href="https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d">Conversations with Tyler Series</a>.  Rabbi Wolpe said:</p>

<blockquote cite="https://youtu.be/DH0VqlPnzpE?t=1640">I think that Judaism has the same problem that any thick civilization has in a world in which, as you say, <strong>context is stripped away</strong>. And not only is context stripped away, but attention to any one thing is scanter and less than it used to be. So, for example, a lot of Jewish commentary is based on your recognizing the reference that I make. Who recognizes references anymore? Because people don’t spend years studying books.<br /> <br /> </blockquote>

<span class="code"><strong>HTML code:</strong></span> <div class="code"><strong>&lt;blockquote cite</strong>="<a class="underline" href='https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d'>https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d</a>"&gt;<br />
I think that Judaism has the same problem that any thick civilization has in a world in which, as you say, &lt;strong&gt;context is stripped away&lt;/strong&gt;. And not only is context stripped away, but attention to any one thing is scanter and less than it used to be. So, for example, a lot of Jewish commentary is based on your recognizing the reference that I make. Who recognizes references anymore? Because people don’t spend years studying books.<br />
<strong>&lt;/blockquote&gt;</strong></div>

<div class="wp-block-image"><figure class="alignright size-large is-resized">
<picture>
    <source srcset="/assets/images/pride-and-prejudice.webp" type="image/webp">
    <source srcset="/assets/images/pride-and-prejudice.png" type="image/png">
    <img src="/assets/images/pride-and-prejudice.png" alt="Pride &amp; Prejudice" width="230" height="151" class="lazyload" />
</picture>
<a class="underline" href="https://en.wikipedia.org/wiki/Pride_and_Prejudice">Jane Austen's Pride &amp; Prejudice</a>
</figure></div>

<a class="underline" href="/sample-code/examples.html">Learn More about the CiteIt javascript library</a> and <a href="/sample-code//">webservice</a> that looks up the quote context.

<a name="contextual-popup"></a>

<h4 class="mt-10 text-green-bright" style="font-size: 1.3em; font-weight: bold;">B) Contextual Popup <a class="anchor" href="#contextual-popup">#</a></h4>
<h5 style="font-size:1.1em; font-weight: bold;" class='purple-grey'>When to Use:</h5>
<p>Use Contextual Popups when:</p>
<ul class="disc">
  <li>The quote happens <b><u>within an existing paragraph</u></b>, rather than as its own paragraph.</li>
  <li>The quote is often (although not always) <b><u>shorter</u></b> in length.</li>
  <li><b><u>Emphasisis is not desired</u></b> in the form of a breakout block.</li>
</ul><br />


<p>Jane Austen&rsquo;s &ldquo;<a class="underline" href="https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5">Pride and Prejudice</a>&rdquo; draws its title, in part from a line where the books&rsquo;s main character, Elizabeth says:&nbsp;<q cite="https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5">&nbsp;I could easily forgive&nbsp;<i>his</i>&nbsp;pride, if he had not mortified&nbsp;<i>mine.</i></q>&nbsp; &nbsp;

<br /><br /><p><span class="highlight">&uarr; Click on blue-grey quote above:</span> ("I could easily forgive his pride ..")</p>
<br />
<span class="code"><strong>HTML code:</strong></span> <div class="code">..  Elizabeth says:&nbsp;<strong>&lt;q cite</strong> = "<a class='underline' href='https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5'>https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5</a>" data-citeit-citing-url = "https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5/"&gt; &nbsp;I could easily forgive&nbsp;&lt;i&gt;his&lt;/i&gt;&nbsp;pride, if he had not mortified&nbsp;&lt;i&gt;mine.&lt;/i&gt;<strong>&lt;/q&gt;</strong>&nbsp; &nbsp;
</div>

<br />
<span class="code"><strong>Developer mode:</strong></span><br />
<ul class="disc">
<li>If you inspect a page that has contextual citations in <strong><a class="underline" href="https://balsamiq.com/support/faqs/browserconsole/">developer mode</a></strong>, you will see the contextual JSON files.</li>  
<li>In this case, the JSON file is named after the <strong>sha256</strong> field which is: <strong>59137b97e93432e</strong> .. <strong>.js</strong></li>
</ul>

<a class="underline" target="_blank"  href="https://pages.citeit.net/wp-content/uploads/2020/12/developer-console-pride-and-prejudice-full.png"><img class="thin-border" width="600" src="https://pages.citeit.net/wp-content/uploads/2020/12/developer-console-pride-and-prejudice-full.png" alt="CiteIt Developer Mode" /></a>
(<a class="underline" target="_blank"  href="https://pages.citeit.net/wp-content/uploads/2020/12/developer-console-pride-and-prejudice-full.png">Larger "developer mode" image</a>)
 
<!-- Comment out PDF Support:
<br />
<h4 style="font-size: 1.3em; font-weight: bold;">Quoting PDF Documents</h4>
<p>You may have seen the T-shirt "<strong>Well-behaved Women Seldom make History</strong>".</p>


<div class="wp-block-image"><figure class="alignright size-large is-resized">
<img class="feature" src="/assets/images/well-behaved-women-seldom-make-history.jpg" alt="Well-behaved Women Seldom Make History" /><br />
Source: &nbsp; <a class="underline" href="https://dash.harvard.edu/bitstream/handle/1/14123819/Vertuous%20Women%20Found.pdf">American Quarterly</a> 
</figure></div>
<br />

<p>Harvard Professor Laurel Thatcher Ulrich‘s comment that <q cite="https://dash.harvard.edu/bitstream/handle/1/14123819/Vertuous%20Women%20Found.pdf">Well-behaved women seldom make history</q> makes more sense if the reader has an easy way to inspect the context from her 1976 article from <a class="underline" href="https://dash.harvard.edu/bitstream/handle/1/14123819/Vertuous%20Women%20Found.pdf">American Quarterly</a>. 
(<span class="highlight">click the blue-grey link</span>)</p>
<br />

<span class="code">HTML code:</span>
<div class="code">
Harvard Professor Laurel Thatcher Ulrich‘s comment that <strong>&lt;q cite= "https://dash.harvard.edu/clip/Women%20Found.pdf</strong>"&gt; Well-behaved women seldom make history<strong>&lt;/q&gt;</strong> makes more sense if the reader has an easy way to inspect the context from her 1976 article from American Quarterly. 
(click the blue-grey link)
</div>

<br />

<p>CiteIt's python webservice is able to read and quote from PDFs, but the <strong>Docker version can not (yet)</strong>.</p>
<p>In the future, I would like CiteIt's public service that runs on Docker to support PDF and Docx. <br /><br />
<p>If you would like to volunteer to help add PDF and Docs support to the Docker image, check out the <a class="underline" href="/code/?tab=volunteer">Volunteer page</a> and send me an email.</p -->



<a id="wikipedia"></a>
<br /><br />

<h3 class="mt-7" style="font-size: 1.8em; font-weight: bold;">2. Wikipedia Citations <a class="anchor" href="#wikipedia">#</a></h3><br />

<h4 style="font-size: 1.3em; font-weight: bold;">Article Popups</h4>
<p>Wikimedia already has <strong>contextual popups</strong> which appear when a reader mouses over a linked article.</p>

<p>Here’s a <strong>screenshot of the popup</strong> that appears on the Los Angeles Lakers article when a reader mouses over the link to the Los Angeles Sparks Basketball team.</p>
<picture>
    <source srcset="/assets/images/Wikipedia-article-popups.webp" type="image/webp">
    <source srcset="/assets/images/Wikipedia-article-popups.png" type="image/png">
    <img class="thin-border lazyload" src="/assets/images/Wikipedia-article-popups.png" alt="Wikipedia: Article Popup" width="494" height="601" />
</picture>
<strong>Example</strong>: <a class="underline" href="https://en.wikipedia.org/wiki/Los_Angeles_Lakers">popup used by Wikipedia article</a>
<br /><br />

<h4 style="font-size: 1.3em; font-weight: bold;" class='text-green-bright'>Contextual Popup</h4>
<p>Below is a <strong>screenshot</strong> of the <strong><a class="underline" target="_blank" href="/demo/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg#start">Ruth Bader Ginsburg article</a></strong> mockup which shows the <strong>CiteIt Contextual Popup</strong> that appears when a reader clicks on the light grey-blue text of a contextual quotation, in this case: “<strong>Ginsburg precedent</strong>“.</p>
<picture>
    <source srcset="/assets/images/Wikipedia-article-RBG-screenshot-1-644x1195.webp" type="image/webp">
    <source srcset="/assets/images/Wikipedia-article-RBG-screenshot-1-644x1195.png" type="image/png">
    <img class="thin-border lazyload" src="/assets/images/Wikipedia-article-RBG-screenshot-1-644x1195.png" alt="Wikipedia: Article Popup" width="644" height="1195" />
</picture>


<a id="wikipedia-samples"></a>
<br />
<br />
<h4 style="font-size: 1.6em; font-weight: bold;">Sample Wikipedia Articles <a class="anchor" href="#wikipedia-samples">#</a></h4>
<strong>Example</strong>: Proposed <a class="underline highlight" target="_blank" href="/demo/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg">Ruth Bader Gingsburg Wikipedia article &darr;</a> with CiteIt Contextual Popup<br /><br />


<p>Click on an image below to view <strong>sample Wikipedia articles</strong> that feature contextual quotations.</p>
<br />
<div class="feature">
  <a href="/demo/en.wikipedia.org/wiki/Inauguration_of_John_F._Kennedy" target="_blank">
  <picture>
      <source srcset="/assets/images/john-f-kennedy-cropped.webp" type="image/webp">
      <source srcset="/assets/images/john-f-kennedy-cropped.png" type="image/png">
      <img src="/assets/images/john-f-kennedy-cropped.png" class="wiki-photo lazyload" alt="John F. Kennedy Portrait" height="225" width="173" />
  </picture></a>
  <a class="underline" href="/demo/en.wikipedia.org/wiki/Inauguration_of_John_F._Kennedy" target="_blank">John F. Kennedy</a>
</div>

<div class="feature">
  <a href="/demo/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg" target="_blank">
  <picture>
      <source srcset="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.webp" type="image/webp">
      <source srcset="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.jpg" type="image/jpeg">
      <img src="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.jpg" class="wiki-photo lazyload" alt="Ruth Bader Ginsburg Portrait" height="225" width="180" />
  </picture></a>
  <a class="underline highlight" href="/demo/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg" target="_blank">Ruth Bader Ginsburg</a>
</div>

<div class="feature">
  <a href="/demo/en.wikipedia.org/wiki/Hillary_Clinton" target="_blank">
  <picture>
      <source srcset="/assets/images/hillary-clinton.webp" type="image/webp">
      <source srcset="/assets/images/hillary-clinton.jpg" type="image/jpeg">
      <img src="/assets/hillary-clinton.jpg" class="wiki-photo lazyload" alt="Hillary Clinton photo by Gage Skidmore" height="225" width="169">
  </picture></a>
  <a class="underline" href="/demo/en.wikipedia.org/wiki/Hillary_Clinton" target="_blank">Hillary Clinton</a>
</div>

<div class="feature">
  <a href="/demo/en.wikipedia.org/wiki/Donald_Trump" target="_blank">
  <picture>
      <source srcset="/assets/images/Donald_Trump_official_portrait.webp" type="image/webp">
      <source srcset="/assets/images/Donald_Trump_official_portrait.jpg" type="image/jpeg">
      <img src="/assets/images/Donald_Trump_official_portrait.jpg " class="wiki-photo lazyload" alt="Donald Trump official portrait" height="225" width="178">
  </picture></a>
  <a class="underline" href="/demo/en.wikipedia.org/wiki/Donald_Trump" target="_blank">Donald Trump</a>
</div>

<div class="feature">
  <a href="/demo/en.wikipedia.org/wiki/Hamlet" target="_blank">
  <picture>
      <source srcset="/assets/images/Edwin_Booth_Hamlet_1870.webp" type="image/webp">
      <source srcset="/assets/images/Edwin_Booth_Hamlet_1870.jpg" type="image/jpeg">
      <img src="/assets/images/Edwin_Booth_Hamlet_1870.jpg" alt="Wikipedia: Article Popup" width="174" height="225" class="lazyload">
  </picture></a>
  <a class="underline" href="/demo/en.wikipedia.org/wiki/Hamlet" target="_blank">Hamlet</a>
</div>

<div class="feature">
  <a href="/demo/en.wikipedia.org/wiki/Pride_and_Prejudice" target="_blank">
  <picture>
      <source srcset="/assets/images/pride-and-prejudice.webp" type="image/webp">
      <source srcset="/assets/images/pride-and-prejudice.png" type="image/png">
      <img src="/assets/images/pride-and-prejudice.png" class="wiki-photo lazyload" alt="Pride and Prejudice" height="225" width="343">
  </picture></a>
  <a class="underline" href="/demo/citeit.net/en.wikipedia.org/wiki/Pride_and_Prejudice" target="_blank">Pride and Prejudice</a>
</div>


<div class="feature">
  <a href="/demo/en.wikipedia.org/wiki/Manned_Orbiting_Laboratory" target="_blank">
  <picture>
      <source srcset="/assets/images/480px-MOL_USAF.webp" type="image/webp">
      <source srcset="/assets/images/480px-MOL_USAF.png" type="image/png">
      <img src="/assets/images/480px-MOL_USAF.png" alt="Manned Orbital Laboratory" height="225" width="283" class="lazyload">
  </picture></a>
  <a class="underline" href="/demo/en.wikipedia.org/wiki/Manned_Orbiting_Laboratory" target="_blank">Manned Orbital Laboratory</a>
</div>

<div class="feature">
  <a href="/demo/en.wikipedia.org/wiki/Syphilis" target="_blank">
  <picture>
      <source srcset="/assets/images/Syphilis.webp" type="image/webp">
      <source srcset="/assets/images/Syphilis.jpg" type="image/jpeg">
      <img src="/assets/images/Syphilis.png" class="wiki-photo lazyload" alt="Syphilis"  height="225" width="239">
  </picture></a>
  <a class="underline" href="/demo/en.wikipedia.org/wiki/Syphilis" target="_blank">Syphilis</a>
</div>




<a name="substack"></a>
<br style="clear:both" />
<br /><br />

<h3 style="font-size: 1.8em; font-weight: bold;">3. <a href="/demo/substack/">Substack</a> <a class="anchor" href="#substack">#</a></h3>
<p><b>Mockups of what <a class="underline" href="https://substack.com/">Substack</a> articles would look like</b> if they were using CiteIt.net:</p>

	<ul class="disc">
    <li><a class="underline" target="_blank" href="/demo/substack/www.kenklippenstein.com/p/biden-takes-swipe-at-campus-protesters-snubbing-youth-support/">Ken Klippenstein</a>: (Journalist)</li>
		<li><a class="underline" target="_blank" href="/demo/substack/www.racket.news/p/who-blew-up-the-nord-stream-pipelines/">Matt Taibbi</a>: Racket News <span class="green">&larr; multiple video citations</span> </li>
    <li><a class="underline" target="_blank" href="/demo/substack/newsletter.doomberg.com/p/a-brief-history-of-times/">Doomberg</a>: Substack’s #1 Paid Newsletter.</li>
    <li><a class="underline" target="_blank" href="/demo/substack/www.columnblog.com/p/washington-post-continues-to-lie/">Adam Johnson</a>: (Citations Needed, The Column) <span class="highlight">&larr; Click to view 	example</span></li>
		<li><a class="underline" target="_blank" href="/demo/substack/heathercoxrichardson.substack.com/p/february-4-2023">Heather Cox Richardson</a>: Boston College (History Professor)</li>
	</ul>

<br style="clear:both" />
<!--p class="mt-7"><strong><a class="underline highlight" href="https://pages.citeit.net/2020/11/02/open-source-project-seeks-machine-learning-expertise-for-new-wikipedia-citation-feature/">Machine Learning Volunteer Wanted</a></strong> to help convert existing Wikipedia footnotes to contextual citations.</p-->
<a id="youtube"></a>
<br /><br />

<h3 style="font-size: 1.8em; font-weight: bold;">4. YouTube transcripts <a class="anchor" href="#youtube">#</a></h3>
<br />
<!--div class="wp-block-image"><figure class="alignright size-large is-resized">
<picture>
    <source srcset="/assets/images/James_Burke_(historian).webp" type="image/webp">
    <source srcset="/assets/images/James_Burke_(historian).jpg" type="image/jpeg">
    <img src="/assets/images/James_Burke_(historian).jpg" alt="James Burke (Historian)" width="309" height="236" class="lazyload">
</picture>
<a class="underline" href="https://en.wikipedia.org/wiki/Connections_(TV_series)" target="_blank">James Burke's</a> (Connections TV Series)
</figure></div>

<h4 style="font-size: 1.3em; font-weight: bold;">Library of Alexandria Video</h4>
<p>Consider how adding the video's YouTube URL to the blockquote's cite tag allows the <a class="underline" href="/code/developers/">CiteIt.net javascript library</a> to 
<strong>automatically embed</strong> the video and <strong>locate the surrounding transcript</strong> (if a <strong>matching transcript</strong> is found).  &nbsp;&nbsp;<br /><span class="highlight">↓ Click: "Expand: Show Video Clip" ↓</span></p>
<br />
<blockquote cite="https://youtu.be/1NqRbBvujHY?t=398">Now, they got these scrolls, either because the local scholars wrote them or because they had a rather crafty law. See, if you came to Alexandria on a boat and you owned a book you had to lend it to the library to be copied. And sometimes the copies were so good the owners went off with the fakes and the library kept the original.</blockquote>

<br />
<span class="code"><strong>HTML code:</strong></span>
<div class="code"><strong>&lt;blockquote cite="https://youtu.be/1NqRbBvujHY?t=398"&gt;</strong>Now, they got these scrolls, either because the local scholars wrote them or because they had a rather crafty law. See, if you came to Alexandria on a boat and you owned a book you had to lend it to the library to be copied. And sometimes the copies were so good the owners went off with the fakes and the library kept the original.<strong>&lt;/blockquote&gt;</strong></div>

<br /-->
<h4 style="font-size: 1.3em; font-weight: bold;">Malcolm Gladwell Interview: "Westerns"</h4>

<p>Consider how adding the video's YouTube URL to the blockquote's cite tag allows the <a class="underline" href="/code/developers/">CiteIt.net javascript library</a> to 
<strong>automatically embed</strong> the video and <strong class="highlight">lookup the surrounding transcript</strong> (if a <strong>matching transcript</strong> is found).  


<br /><br /><br /><span class="highlight">↓ Click: "Expand: Show Video Clip" ↓</span></p>

<p class="mt-8">Here is a quotation from Joe Rogan's interview with <strong>Malcolm Gladwell</strong>.</p>

<div class="wp-block-image">
<figure class="alignright size-large is-resized"><a href="https://en.wikipedia.org/wiki/Malcolm_Gladwell">
<picture>
    <source srcset="/assets/images/Malcolm-Gladwell.webp" type="image/webp">
    <source srcset="/assets/images/Malcolm-Gladwell.jpg" type="image/jpeg">
    <img src="/assets/images/Malcolm-Gladwell.jpg" alt="Malcolm Gladwell" width="283" height="280" class="lazyload">
</picture></a>
<a class="underline" target="_blank" href="https://en.wikipedia.org/wiki/Malcolm_Gladwell">Malcolm Gladwell</a></figure>
</div>
<blockquote cite="https://youtu.be/OnEjzmR9Hvw?t=231">
<ol class="num">
<li>a <b>Western</b> is where is conceptually a world in which <b>there is no law and order</b> and a man shows up and <b>imposes personally law and order on the territory</b> the community right 
</li>
<li>so there is also a <b>eastern</b> what is in Eastern and Eastern is a place where by contrast is a story where they're like I got this straight it was four types the Eastern is where there is law and order there is so <b>there are institutions of Justice</b> but they are have been <b>subverted by people from within</b> so an Eastern would be the Serpico is an Eastern it's a <b>crooked cop</b> who is it's the bad apple who has you know screwed up there there's lots of tons and tons of of Hollywood movies are Easterns</li>
<li>the <b>northern</b> is the case where law and <b>order exists and law notre is morally righteous system</b> works law know that show law and order is a northern it's a functioning apparatus of Justice which reliably and accurately produces the right the correct result in confronting criminality every single day when it's on TV</li>
<li>the <b>southern</b> is where the the entirely the southern is all <b>John Grisham novels</b> or Southern's they are where the <b>entire apparatus is corrupt</b> and where the reformer is not an insider but an <b>outsider</b></li>
</ol>
</blockquote>
<br />
<p><strong>HTML Formatting</strong> (such as bold and italics)<strong> is allowed</strong> within a citation, so long as the <strong>plain-text version matches the original</strong> quote's plain-text version.</p>
<br /><span class="code"><strong>HTML code:</strong></span>
<div class="code">
<strong>&lt;blockquote cite</strong>="<a class='underline' href='https://youtu.be/Okg2LH6XKzY?t=8740'>hhttps://youtu.be/Okg2LH6XKzY?t=8740</a>"&gt;<br />
&lt;ol class="num"&gt;<br />
&lt;li&gt;a &lt;b&gt;Western&lt;/b&gt; is where is conceptually a world in which &lt;b&gt;there is no law and order&lt;/b> and a man shows up and &lt;b>imposes personally law and order on the territory&lt;/b&gt; the community right <br />
&lt;li&gt;so there is also a &lt;b&gt;eastern&lt;/b&gt; what is in Eastern and Eastern is a place where by contrast is a story where they're like I got this straight it was four types the Eastern is where there is law and order there is so &lt;b&gt;there are institutions of Justice&lt;/b&gt; but they are have been &lt;b&gt;subverted by people from within&lt;/b&gt; so an Eastern would be the Serpico is an Eastern it's a &lt;b&gt;crooked cop&lt;/b&gt; who is it's the bad apple who has you know screwed up there there's lots of tons and tons of of Hollywood movies are Easterns&lt;/li&gt;<br />
&lt;li&gt;the &lt;b>northern&lt;/b&gt; is the case where law and &lt;b&gt;order exists and law notre is morally righteous system&lt;/b&gt; works law know that show law and order is a northern it's a functioning apparatus of Justice which reliably and accurately produces the right the correct result in confronting criminality every single day when it's on TV&lt;/li&gt;<br />
&lt;li&gt;the &lt;b&gt;southern&lt;/b&gt; is where the the entirely the southern is all &lt;b&gt;John Grisham novels&lt;/b&gt; or Southern's they are where the &lt;b&gt;entire apparatus is corrupt&lt;/b&gt; and where the reformer is not an insider but an &lt;b&gt;outsider&lt;/b&gt;&lt;/li&gt;<br />
&lt;/ol&gt;<br />
<strong>&lt;/blockquote&gt;</strong><br />
</div><br />

<h4 class="purple-grey" style="font-size: 1.15em; font-weight: bold">View Sample article with Contextual Video Popups:</h4>
<ul class="disc"><li><a target="_blank" class="underline" href="/demo/substack/www.slowboring.com/p/martin-luther-king-jrs-push-for-material">Martin Luther King Jr.'s push for material redistribution</a>, by Matthew Yglesiaas</li></ul>




<a id="audio"></a>
<br /><br />
<h3 style="font-size: 1.8em; font-weight: bold;">5. Audio/Podcasts <a class="anchor" href="#audio">#</a></h3>

<br /><p>I would like to add support for audio-citations, especially for <strong><a class="underline" target="_blank" href="https://www.openpolitics.com/tag/transcribe/" title="List of Resources about Transcription">transcription</a> of podcasts and radio</strong>.</p><br />

<strong>Potential Sample Podcasts:</strong>
<ul class="disc">
  <li><a class="underline" href="https://open.spotify.com/episode/7vPVmqFCFxBZJpStDAHl2n">The Crime Machine: Part 1</a> (Reply-All)  <span class="highlight">&larr; Future Example &nbsp;</span></li>
  <li><a class="underline" href="https://open.spotify.com/episode/7vPVmqFCFxBZJpStDAHl2n">The Crime Machine: Part 2</a> (Reply-All)</li>
</ul>
  

<a id="pdfs"></a>
<br style="clear:both" />
<br /><br />

<h3 style="font-size: 1.8em; font-weight: bold;">6. PDFs <a class="anchor" href="#pdfs">#</a></h3>
<p>The hosted CiteIt Webservice does <b>not current support PDFs</b>, but this functionality is available if the application is self-hosted:</p>
<br />

<h4 style="font-size: 1.25em; font-weight: bold;">1) <span class="text-green-bright">Children's Book:</span> Electronic Pdf  <a class="anchor" href="#pdf-childrens-book">#</a></h4>
<p>The webservice <b>converts this children's book</b> into a <a class="underline" target="_blank" href="https://read.citeit.net/transcript/pdf/cdn.shopify.com/s/files/1/2081/8163/files/007-HAMMY-THE-HAMSTER-Free-Childrens-Book-By-Monkey-Pen.pdf.txt">text-version</a>.</p><br />


<p>&gt;&gt; Hammy said: <q cite="https://cdn.shopify.com/s/files/1/2081/8163/files/007-HAMMY-THE-HAMSTER-Free-Childrens-Book-By-Monkey-Pen.pdf">we are very careful so we aren't caught.</q>&nbsp;&nbsp; (page 6)</p>
<br />
<div class="code">
&lt;p>Hammy said: <b>&lt;q cite</b>="<a class="underline" href="https://cdn.shopify.com/s/files/1/2081/8163/files/007-HAMMY-THE-HAMSTER-Free-Childrens-Book-By-Monkey-Pen.pdf">https://cdn.shopify.com/s/files/1/2081/8163/files/007-HAMMY-THE-HAMSTER-Free-Childrens-Book-By-Monkey-Pen.pdf</a>&gt;we are very careful so we aren't caught.<b>&lt;/q&gt;</b>&lt;/p&gt;
</div>
<br /><br />


<iframe src="https://cdn.shopify.com/s/files/1/2081/8163/files/007-HAMMY-THE-HAMSTER-Free-Childrens-Book-By-Monkey-Pen.pdf?v=1589846896" width="600" height="900" ></iframe>
<a name="digital-pdf"></a><br /><br />


<h4 style="font-size: 1.25em; font-weight: bold;">2) <span class="text-green-bright">Digital Journal Article:</span> Electronic Pdf <a class="anchor" href="#digital-pdf">#</a></h4>
<br />

<a name="pdf-childrens-book"></a>
<h4 style="font-size: 1.4em; font-weight: bold;">Electronically-Produced PDFs</h3>

<p><a class="underline" href="https://read.citeit.net/media/pdf/roosevelt-4-freedoms.pdf">Digitally created PDF</a>: "Jeremey Bentham and President Roosevelt's Four Freedoms."<br /><br /></p> 


<p>The webservice <b>converts the article</b> to a series of <a class="underline" target="_blank" href="https://read.citeit.net/media/pdf/roosevelt-4-freedoms.pdf.txt">text-based pages</a>, from which contextual lookups can be made.</p><br />


<blockquote cite="https://read.citeit.net/media/pdf/roosevelt-4-freedoms.pdf"
>For that very reason, the Declaration of Independence does not speak of the attainment of happiness, but of the pursuit of happiness. The question, then, is of what the ruler should do for the happiness of citizens.</blockquote>
<br /><br />

<div class="code">
<b>&lt;blockquote cite</b>"<a class="underline" href="https://read.citeit.net/media/pdf/roosevelt-4-freedoms.pdf">https://read.citeit.net/media/pdf/roosevelt-4-freedoms.pdf</a>"&gt;
>For that very reason, the Declaration of Independence does not speak of the attainment of happiness, but of the pursuit of happiness. The question, then, is of what the ruler should do for the happiness of citizens.&lt;<b>/blockquote</b>&gt;</div>
<br /><br />

<iframe src="https://read.citeit.net/media/pdf/roosevelt-4-freedoms.pdf" alt="Jeremy Bentham and President Roosevelt’s Four Freedoms, by Manuel Escamilla-Castillo" width="600" height="900" ></iframe>
<a name="ocr-pdf"></a><br /><br />

<h4 style="font-size: 1.25em; font-weight: bold;">3) <span class="text-green-bright">Scanned Book:</span>  OCR Pdf  <a class="anchor" href="#ocr-pdf">#</a></h4>
 
<p>Notice that <strong class="highlight">this page contains two columns</strong>:<br /> 
<ul class="disc">
<li><a class="underline" href="https://read.citeit.net/media/pdf/samples/war-and-peace-pages-76-77.pdf"><strong>War &amp; Peace</strong>, by Leo Tolstoy</a><br />
<li><a class="underline" href="https://read.citeit.net/media/pdf/samples/war-and-peace-full.pdf">Full Pdf 50 MB</a>, from archive.org </li>
<li> <a class="underline"  target="_blank" href="https://read.citeit.net/media/pdf/war-and-peace-pages-76-77.pdf.txt">text-version</a></li>
</ul>
<br />


<ul class="disc"><li>Prince Andrew said: <q cite="https://read.citeit.net/media/pdf/samples/war-and-peace-pages-76-77.pdf">I don't like your Mademoiselle Bourienne
at all</q>.</li></ul>
<br />
<div class="code">&lt;p&gt;Prince Andrew said: <b>&lt;q cite</b>="<a class="underline" href="https://read.citeit.net/media/pdf/samples/war-and-peace-pages-76-77.pdf">https://read.citeit.net/media/pdf/samples/war-and-peace-pages-76-77.pdf</a>"&gt;I don't like your Mademoiselle Bourienne
at all<b>&lt;/q</b>&gt;.&lt;/p&gt;</div>
<br />

<br />
<iframe src="https://read.citeit.net/media/pdf/samples/war-and-peace-pages-76-77.pdf" width="600" height="900" alt="War &amp; Peace"></iframe>
<br />

<a id="try"></a>
<br /><br />

<a id="twitter"></a>
<br /><br />
<h3 style="font-size: 1.8em; font-weight: bold;">7. Twitter &amp; Substack Notes <a class="anchor" href="#twitter">#</a></h3>
<br /><p>Here is an a <a target="_blank" class="underline" href="https://x.com/hamishmckenzie/status/1774593994238071205">example</a> of what <strong>Twitter</strong> could look like <strong>if a quote were linked to its source</strong> with a contextual popup.</p>

<div class="twitter_main">
    <img src="/assets/images/Hamish-McKenzie-Twitter.png" alt="Hamish McKenzie Twitter post" width="500" height="531" />
    <div class="twitter_blockquote">
      <p>
        <b><a class="underline" href="https://www.semafor.com/newsletter/03/31/2024/how-to-keep-your-media-job">Softballs</a></b>: Lex Fridman has become the tech CEO interviewer of (the CEOs’) choice, 
        <a class="underline" href="https://www.bloomberg.com/news/newsletters/2024-03-29/lex-fridman-s-podcasts-give-tech-ceos-a-friendly-place-for-pr">Bloomberg reports</a>:
        <q cite="https://archive.md/20240329111937/https://www.bloomberg.com/news/newsletters/2024-03-29/lex-fridman-s-podcasts-give-tech-ceos-a-friendly-place-for-pr"
        >Why risk putting an executive in front of an incisive journalist when there’s a gentler route?</q>
      </p>
    </div>
</div>

<div class="tweet sm:w-full md:w-2/3 lg:w-2/3">

</div><!--tweet footer-->
</div><!--tweet-->

<p class="tweet_caption text-justify-center sm:w-full md:w-2/3 lg:w-2/3"><span class="highlight">&uarr;	 Click grey-blue text to view contextual popup &uarr;</span></p>



<br /><br />
<h3 style="font-size: 1.8em; font-weight: bold;">Four Reasons to use Contextual Citations</h3>

<ol class="num">
<li>Build Trust / Dispel Cherry-picking Concerns</li>
<li>Feed Curiosity / Inform of Context</li>
<li>Add Color / Entertain</li>
<li>Defend against Critics / Establishment Gatekeepers</li>
</ol>

<br />
<a target="_blank" class="underline" href="https://demo.citeit.net/tag/taibbi-1/">View Examples</a>


<a name="sample-code"></a>
<br /><br />

    <form action="https://demo.citeit.net/2024/" method="post">
      <input type="submit" class="myButton" value="View Demo Site Citations" /> &nbsp;&nbsp;&nbsp;   (User-entered examples)  <a class="anchor" href="#sample-code">#</a>
    </form>


<br /><br /><br />

<h3 style="font-size: 1.8em; font-weight: bold;">Developer Sample Code <a class="anchor" href="#sample-code">#</a></h3>
<p>These examples depend upon the <a class="underline" href="https://pages.citeit.net/sample-code/examples.html">CiteIt <strong>javascript library</strong></a> being installed on the quote's webpage.</p>

<ul class="disc">
  <li><a class="underline" href="https://pages.citeit.net/sample-code/examples.html">Add CiteIt's Contextual Citations to your website</a>. (Video tutorial)</li>
  <li><a class="underline" href="https://pages.citeit.net/sample-code/examples-advanced.html">Advanced Examples</a></li>
  <li><a class="underline" href="/code/">Get Source Code</a></li>
</ul>
<br /><br />
<br /><br />

</div>




