@tailwind base;


@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}


.tab-panel {
  padding-right: 15%;
}

ul.disc {
  list-style: disc;
  margin: 10px 0 0 50px;
}

ol.num {
  list-style: decimal;
  margin: 10px 0 0 50px;
}

ol.num li.highlight {
  background-color: #edf5ba;
  color: #000;
  font-weight: 800;
}

ol.num li {
  margin-bottom: 10px;

}



a.footnote {
  display: none;
}

.red {
  color: red;  
}

.grey-888 {
  color: #888; 
}

.green {
  background-color: #b0efce;
  padding: 3px;
}

#reset_test_citation {
  width: 165px;
  padding: 12px;
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: green;
}

.reset_button {
  
  color: white;
  background-color: green;
}

#switch_view_type {
  margin-bottom: 40px;

}



.text-blue {
  color: blue !important;
}

.panel-3 {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 30px 30px 30px 10px;
}


.submit {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.w-900 {
  width: 85%;
  max-width: 900px;
}

.alignright {
  float: right;
  display: inline;
  margin-right: 30px;

}


.level-2 {
  margin-left: 50px;
}

.level-2 a {
  text-decoration: underline;
}
.panel-intro {
  padding-top: 40px;
}
.panel-intro p {
  font-size: 110%;
  margin-bottom: 5px;
}
.panel-width {
  width: 100%;
}

ul#footer {
  margin-bottom: 30px;
  padding-top: 25px;
  height: auto;
  overflow: visible; 
}

#nav_footer {
  background-color: #eee; 
  padding-top: 50px; 
  padding-bottom: 250px;   
  display: block;
}

.nav ul li {
  margin-left: 20px;

  height: auto;
}

.nav .section {
  float: left;
  margin: 0px 0px;
  height: auto;
  width: 12.5%;
}

span#if-you-dont-cherry-pick {
  margin-right: 10px;
}

.green-text {
  color: #28a745;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

p { 
  width: 65%;
}

#video_thumb {
  width: 100%;
  margin: auto auto;
}

ul.disc {
  list-style: disc !important;
}

img.feature { 
  float: right;
  padding: 20px;
}

img.feature-left {
  margin-left: 50px;
  padding: 25px;
}

#page-tabs ul li a.nonblock {
  display: contents;
}

#page-tabs ul li a.nonblock:hover {
  color: blue;
  font-weight: 600;
}

.submit {
  background-color: #10b981;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#page_container {
  margin: 0% auto 0% auto;
  max-width: 80em;
}

.circle {
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
  text-decoration: none;
  background: #3163eb;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px #444;
  border-bottom: solid 3px #4f77e3;
  transition: .4s;
}
.circle:hover {
  background: #6ea7e9;
  border-bottom: solid 3px #aaa;
}

#play_button {
  margin-top: -100px;
}

.btn:active{
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

div.tweet {
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: 65px;
  width: 100%;
}

.tweet_caption {
  margin-left: 100px;
}


.tweet_header p {
  font-size: 90%;
  margin: 1% 0 2% 0%;
}

.twitter_logo {
  width: 70px;
  float: left;
  margin-left: -73px;
}

.tweet_header {
  float: left;
  width: 100%;
}

.twitter_image {
  border-radius: 15px 15px 0px 0px;
}

.tweet_footer {
  padding: 17px;
  border: 1px solid #bbb;
  border-radius: 0 0 15px 15px;
}

.tweet_domain {
  clear: both;
  margin-top: 10px;
  color: #777;
}

.text-green-bright {
  color: #00b33c; /* #009933;*/
}
.text-red-light {
  color: #ff8080; /* #ff6666;*/
}


/*************************** HEADER ******************************/


.video-caption {
  text-align: center;
  color: #aaa;
}

div#loading {
  visibility: hidden;
}
div#circle6.hidden {
  visibility: hidden
}
div#submission-results.hidden {
  display: none;
}
div#submission-results.visible {
  visibility: visible;
}
div#loading.visible, div#submission-results.visible {
  visibility: visible;
  /* display: visible;*/
}
.hidden {
  display: none;
}
p#citeit-description {
  text-align: left;
  max-width: 600px;
}
div#building-trust {
  clear: left;
}
div#example {
  margin-top: 100px;
}
#test-drive {
  margin-top: 15px;
}
textarea, input.url {
  border: 1px solid #95b7e5;
  background-color: #e8f0f2;
  max-width:100%;
  padding: 15px;
}
input.url {
  width: 540px;
  height: 40px;
}
input[type=submit]{
  width: 300px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
form.test-submission h4 {
  color: #2666bb;
  font-weight: 600;
  margin: 20px 0 5px 0;
}
form.test-submission span.label {
  color: #545de9;
}
form.test-submission span.example {
  color: #666;
}
form.test-submission {
  margin-bottom: 40px;
}
q#sample-quote { 
  font-size: 145%;
  width: 100%;
  display: block;
  padding: 30px;
}
div#todo {
  color: #545de9 !important;
}
div.warning {
  border: 2px solid #bbb;
  background-color: red;
  color: white;
  padding: 20px;
}

ul#progress_list {
  margin-left: 25px;
}
#circle6 {
display: block;
position: absolute;
height: 50px;
width: 50px;
margin: -55px 0 0 325px;
border: 4px rgba(0, 0, 0, 0.25) solid;
border-top: 10px #008744 solid;
border-right: 10px #0057e7 solid;
border-bottom: 10px #d62d20 solid;
border-left: 10px #ffa700 solid;
border-radius: 50%;
-webkit-animation: spin6 1s infinite linear;
        animation: spin6 1s infinite linear;
}
@-webkit-keyframes spin6 {
from {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
to {
  -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
}
}
@keyframes spin6 {
from {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
to {
  -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
  -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
}
}
/** END of circle6 */
.col-sm-2 {
padding: 10px;
border-radius: 4px;
height: 125px;
margin-bottom: 10px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/************************ EXAMPLES ****************************/

blockquote {
  width: 65%;
}
div.down-arrow {
  padding-left: 14.5%;
  width: 65%;
}
a.down_arrow {
  text-align: center;
  width: 65%;
}
div.quote_arrows {
  width: 65%; 
}
div.quote_context {
  width: 90%;
}
div.citeit_source {
  margin-right: 0%;
  width:30%;
}
span.source {
  color: #999;
  margin-right: 5px;
}
#feature_box {
  max-width: 1040px;
}


div.feature {
  float: left;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
img.wiki-photo {
  height: 225px;
  padding-right: 0px;
}
.thin-border {
  border: 3px solid #ddd;
  margin: 15px 0;
}
div.code {
  background-color: #f9fbe5;
  border: 1px solid #dae380;
  padding: 25px 25px 25px 30px;
  width: 77%;
  max-width: 80%;
}

div.code .code {
  border: 1px solid #dae380;
  background-color: #f4f6d4;
}


.highlight {
  background-color: #f8ff7a;  
}
img.feature {
  float: right;
  padding: 25px 25px 5px 25px;
  width: 280px;
}
div.wp-block-image {
  text-align: center;
}
h4 {
  margin: 10px 0px 15px 0px;
}
ul.unindent {
  margin-left: 30px;
  margin-bottom: 20px;
}
.purple-grey {
  color: #2666bb !important;  
}
span.code {
  color: #2666bb;
  font-weight: 400;
}
blockquote.quote_text {
  padding: 25px 30px 25px 30px;
}
blockquote.quote_text p {
  width: 95%;
}
div#submission-progress {
  padding-top: 5px;
}
iframe.youtube {
  margin-bottom: 20px;
}

div#jefferson_video_caption {
  width: 66%;
  text-align: center;
  margin: auto auto;
}

div.learn_more {
  margin-top: 40px; 
  margin-bottom: 60px;
}

div.inspired_by {
  margin-top: 70px; 
  margin-bottom: 0px;
}

.video_width {
  max-width: 900px;  
}

#footnotes {
  background-color: #d6e8ec;
  padding: 20px 35px 35px 35px;

}

.align_right {
  width: 550px !important;
  text-align: right;
}

.copyright {
    
}

.margin_top_negative {
  margin-top: -30px;
  margin-bottom: 15px;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
    

/* 
LAZY LOAD: YouTube

html {
	background-color: #f3f3f3;
}
*/
.wrapper {
	max-width: 680px;
	margin: 60px auto;
	padding: 0 20px;
}

.youtube {
	background-color: #000;
	/* margin-bottom: 30px; */
	position: relative;
	/* padding-top: 56.25%;
	overflow: hidden; */ 
	cursor: pointer; 
}
.youtube img {
	width: 100%;
	top: -16.82%;
	left: 0;
	opacity: 0.7;
}
.youtube .play-button {
	width: 90px;
	height: 60px;
	background-color: #333;
	box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
	z-index: 1;
	opacity: 0.8;
	border-radius: 6px;
}
.youtube .play-button:before {
	content: "";
	border-style: solid;
	border-width: 15px 0 15px 26.0px;
	border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
	cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
a.anchor {
  color: lightskyblue;
  font-size: 70%;
}
.green {
  background-color: #98e9be;
  padding: 2px 4px 2px 2px;
}

/*************************** Width: 1200px ******************************/

@media only screen and (max-width: 1200px) {
    iframe.youtube {
      width: 320px !important;
      height: 185px !important;
    }
}

/*************************** Width: 768px ******************************/

@media only screen and (max-width: 768px) {

    div#nothing_is-more_certainly p {
      width:100%;
    }
    iframe.youtube {
      width: 320px !important;
      height: 185px !important;
    }
}
/*************************** Width: 425px ******************************/

@media only screen and (max-width: 425px) {

    blockquote  {
      width: 95% !important;
    }
    div.code {
      width: 95% !important;
      max-width: 95% !important;
      padding-left: 20px;
      font-size: 65%;
      margin-bottom: 20px;
    }
    div#nothing_is-more_certainly{
      width:85% !important;
    }
    img.wiki-photo {
      height: 150px !important; 
    }
    div.citeit_source {
      width: 1%;
    }
    ul#footer > li {
      display: list-item;
      margin-left: 70px;
      margin-bottom: 30px;
      width: auto;
      *display: inline;
      /* this fix is needed for IE7- */
    }
    nav#media_types {
      display: none;
    }
    #rabbi-david-wolpe-intro {
      padding-top: 15px;
      clear: both;
    }
    div.up-arrow {
      width: 95% !important;
      clear: both;
    }
    div#nothing_is-more_certainly p {
      width:100%;
    }
    iframe#iframe_video {
      width: 100%;
      height: 100%;
      border: none;
    }

    a.blue {
      background-color: #d8e7f2;
    }
    div.source_url {
      font-size: 250%;
    }

    ul#footer > li {
      display:list-item !important;
      margin-left: 70px;
    }

}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: black;
  }
}
